<%= form_for(@tipo_task) do |f| %>
  <% if @tipo_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_task.errors.count, "error") %> prohibited this tipo_task from being saved:</h2>

      <ul>
      <% @tipo_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
