<h1>Mailing</h1>



<div id="stylized" class="myform">
<%=  form_for :enviar_email_sql, :url => { :action => :confirma_enviar_email_sql } do |f|  %>

<label>Consulta
</label>

<%= f.select :mailing_sql, campanhas_sql  %>
<div class="buttons">
    <%= f.submit "Enviar Email Automatico" %>
</div>
</br>
<% end %>

</div>

<br>

<div id="stylized" class="myform">
<%=  form_for :enviar_email, :url => { :action => :confirma_enviar_email } do |f|  %>

<label>Tag
</label>

<%= f.select :mailing_tag, campanhas  %>
<div class="buttons">
    <%= f.submit "Enviar Mala direta" %>
</div>
</br>
<% end %>

</div>

<br>

<%= will_paginate @mailings %>

<table>
  <tr>
    <th>Tag</th>
    <th>Templates email</th>
    <th>To</th>
    <th>Cc</th>
    <th>From</th>
    <th>Subject</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailings.each do |mailing| %>
  <tr>
    <td><%= mailing.tag %></td>
    <td><%= mailing.templates_email_nome %></td>
    <td><%= mailing.to %></td>
    <td><%= mailing.cc %></td>
    <td><%= mailing.from %></td>
    <td><%= mailing.subject %></td>
    <td><%= mailing.body %></td>
    <td><%= link_to 'Vizualizar', mailing %></td>
    <td><%= link_to 'Editar', edit_mailing_path(mailing) %></td>
    <td><%= link_to 'Excluir', mailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @mailings %>

<br />

<%= link_to 'Novo Mailing', new_mailing_path %>
