<h1>Listagem notas</h1>
<%= link_to 'Nova Nota', new_note_path %>

<%= will_paginate @notes %>
<%= form_tag(notes_path, :method => "get") do %>
 
  <%= text_field_tag(:search, @search, :size => 25) %>
  <%= submit_tag("Filtrar") %>
<% end %>

<table>
  <tr>
    <th>Notas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= link_to note.notes[0,30], note %></td>
  
    <td><%= link_to 'Editar', edit_note_path(note) %></td>
    <td><%= link_to 'Excluir', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @notes %>


