<h1>Gestao de Usuario</h1>


<%= form_tag(custom_gestao_usuarios_path, :method => "get") do %>
 
  <%= text_field_tag(:search, @login, :size => 50) %>
  <%= submit_tag("Procurar") %>
  
<% end %>


<b>
</br><%= "Login:  #{@usuario.login} - Nome: #{@nomecompleto}" %>
<% if (can? :manager, :usuarios) and (! @funcionario.nil?) %>
      <%= "- Matricula: #{@funcionario.Matricula}" %>
      </br><%= "CPF: #{@funcionario.CPF} - Identidade: #{@funcionario.Identidade}" %>
      </br><%= "Admissao: #{@funcionario.DataAdmissao} - Demissao: #{@funcionario.DataDemissao}" %>
      </br><%= "Torre: #{@funcionario.NomeTipoCC}/#{@funcionario.DescCCTorre} - Local Trabalho: #{@funcionario.NomeLocalTrabalho}" %>

      
      </br>
<% end %>  
</b>
</br>
<%= link_to '[Alocar Estacao]', custom_alocar_estacao_path, :id => "zNovo" %>
<%= link_to '[Alocar Licenca]', custom_alocar_licenca_path, :id => "zNovo" %>
</br></br>
<% if (! @usuario.nil?) and (! @usuario.login.nil?) %>
<table style="table-layout:fixed">
<col style="width:20%" span="5" />
   <tr>
    <th>Estacao</th>
     <th>Descricao</th> 
    <th>Gestor</th>
    <th>CC/Projeto Debito</th>
    <th>Status</th>
  </tr>
  <% @estacao.each do |estacao| %>
      <tr>
        <td><%= link_to estacao[:chave], ci_path(estacao[:chave]), :target => '_blank' %></td>
         <td><%= estacao[:descricao] %></td>
        <td><%= estacao[:gestor] %></td>
        <td><%= "#{estacao[:CCDebito]}/#{estacao[:ProjetoDebito]}" %></td>
        <td><%= estacao[:status] %></td>
      </tr>
  <% end %>
</table>  
</br></br>

<table style="table-layout:fixed">
<col style="width:20%" span="5" />
   <tr>
    <th>Celular</th> 
    <th>Descricao</th>
    <th>Gestor</th>
    <th>CC/Projeto Debito</th>
    <th>Status</th>
  </tr>
  <% @celulares.each do |celular| %>
      <tr>
        <td><%= link_to celular[:chave], ci_path(celular[:chave]), :target => '_blank' %></td>
         <td><%= celular[:descricao] %></td>
        <td><%= celular[:gestor] %></td>
        <td><%= "#{celular[:CCDebito]}/#{celular[:ProjetoDebito]}" %></td>
        <td><%= celular[:status] %></td>
      </tr>
  <% end %>
</table>  
</br></br>

<table style="table-layout:fixed">
<col style="width:20%" span="5" />
  <tr>
    <th>Licenca</th>
    <th>Descricao</th>
    <th>Gestor</th>
    <th>CC/Projeto Debito</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @licencas.each do |licenca| %>
  <tr>
    <td><%= link_to licenca[:chave],  ci_path(licenca[:chave]), :target => '_blank' %></td>
    <td><%= licenca[:descricao] %></td>
    <td><%= licenca[:gestor] %></td>
    <td><%= "#{licenca[:CCDebito]}/#{licenca[:ProjetoDebito]}" %></td>
    <td><%= licenca[:status] %></td>
    <td><%= link_to '[Remover Licenca]', custom_confirmar_remocao_licenca_path(@usuario.login,licenca[:chave]) %></td> 
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Erros e Distorcoes</th>
   
  </tr>

<% @erros.each do |e| %>
  <tr>
    <td><%= e %></td> 
  </tr>
<% end %>
</table>
<% end %>



<% if @modo == :remocao %>
<div id="stylized" class="myform">
<h1>Se voce deseja realmente remover a licenca <%=@licenca%>, digite o nome da licenca abaixo
</h1>


<%= form_tag(custom_remover_licenca_path, :method => "post") do %>
 
  <%= text_field_tag("confirmacao", @confirmacao, :size => 50) %>
  <%= hidden_field_tag 'token_confirmacao',@licenca %>
  <%= hidden_field_tag 'id', @login%>
  <%= submit_tag("Eliminar") %>
</br></br>
</div>
<% end %>
<% end %>

<% if @modo == :alocar_licenca %>
<div id="stylized" class="myform">
<h1>Qual licenca voce deseja alocar ?
</h1>


<%= form_tag(custom_remover_licenca_path, :method => "post") do %>
 
  <%= text_field_tag("confirmacao", @confirmacao, :size => 50) %>
  <%= hidden_field_tag 'token_confirmacao',@licenca %>
  <%= hidden_field_tag 'id', @login%>
  <%= submit_tag("Alocar") %>
</br></br>
</div>
<% end %>
<% end %>




