<%= form_for(@criticidade) do |f| %>
  <% if @criticidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criticidade.errors.count, "erro") %> ao tentar salver o criticidade </h2>

      <ul>
      <% @criticidade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Cor Alerta Console" %><br />
    <%= f.text_field :alertacor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
