<script type="text/javascript">
<!--
// function showMe (it, box) {
//   var vis = (box.checked) ? "none" : "blocked";
//   document.getElementById(it).style.display = vis;
// }

// $(document).ready( function() {
//     document.getElementById('EmailsParams').style.display = (document.getElementById('templates_email_sync').checked ? "block" : "none");
// });
//-->
</script>

<div id="stylized" class="myform">
<%= form_for(@templates_email) do |f| %>
  <% if @templates_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@templates_email.errors.count, "error") %> prohibited this templates_email from being saved:</h2>

      <ul>
      <% @templates_email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<label>Template
<span class="small">Nome interno do template</span>
</label>
<%= f.text_field :template %>
<div class="spacer"></div>

<label>Nome
<span class="small">Nome publico do template</span>
</label>
<%= f.text_field :nome %>
<div class="spacer"></div>

<label>Tipo
<span class="small">(CI, Contratos, Password, etc)</span>
</label>
<%= f.select :tipo, (["CI", "ALERTAS", "MAILING","GESTAO USUARIO","GESTAO LICENCA"]) %>
<div class="spacer"></div>

<label>Subtipo
<span class="small">(servidor, contrato, link, etc)</span>
</label>
<%= f.text_field :subtipo %>
 
<div class="spacer"></div>
 
<label>Enviar via Brower
<span class="small">Ou direto</span>
</label>
<%= f.check_box :sync , :onclick=>"showMe('EmailsParams', this)"%>
<div class="spacer"></div>

<div class="spacer"></div>

<div id="EmailsParams">

<h3>Somente para emails diretos.</h3><br>  
 
<label>Subject
<span class="small">subject do email</span>
</label>
<%= f.text_field :subject %>
<div class="spacer"></div>
 
<div class="spacer"></div>
<label>CC
<span class="small">Enviar Copia</span>
</label>
<%= f.text_field :cc %>
<div class="spacer"></div>
 
<div class="spacer"></div>

<label>From
<span class="small">Email como</span>
</label>
<%= f.text_field :from %>
<div class="spacer"></div>
 
<div class="spacer"></div>


</div>

<div class="actions">
  <%= submit_tag("Criar") %>
</div>

<div class="spacer"></div>

<% end %>
</div>