<h1>Templates de email</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Subtipo</th>
    <th>Nome</th>
    <th>Template</th>
    <th>Enviar email</th>
    <th></th>
    <th></th>
  </tr>

<% @templates_emails.each do |templates_email| %>
  <tr>
    <td><%= templates_email.tipo %></td>
    <td><%= templates_email.subtipo %></td>
    <td><%= templates_email.nome %></td>
    <td><%= link_to templates_email.template , templates_email%></td>
    <td><%= templates_email.sync ? "via Browser" : "Direto"  %></td>
    
    <td><%= link_to 'Editar', edit_templates_email_path(templates_email) %></td>
    <td><%= link_to 'Apagar', templates_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Criar novo template de email]', new_templates_email_path %>
