<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 100,
      pagingType: "full_numbers",
      language: {
        search: "Filtrar:"
      }
    });
});
</script>

<div id="content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Criar novo email', new_templates_email_path, class: "btn btn-primary btn-xs" %>
    </div>
    <div class="panel-body">
      <table id="coolTable" class="generalTable">
        <thead>
          <tr class="head">
            <th>Nome Email</th>
            <th>Enviar email</th>
            <th>Tipo</th>
            <th>Subtipo</th>
            <th>Template</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @templates_emails.each do |templates_email| %>
          <tr>
            <td><%= link_to templates_email.nome, templates_email_path(templates_email) %></td>
            <td><%= templates_email.sync ? "via Browser" : "Direto"  %></td>
            <td><%= templates_email.tipo %></td>
            <td><%= templates_email.subtipo %></td>
            <td>
                <%= link_to templates_email.template , sql_template_path(templates_email.template) if ! templates_email.sync %>
                <%= templates_email.template if  templates_email.sync %>
            </td>
            <td>
                <%= link_to 'Editar', edit_templates_email_path(templates_email), class: "btn btn-primary btn-xs" %>
                <%= link_to 'Apagar', templates_email, method: :delete,  class: "btn btn-danger btn-xs", data: { confirm: "Voce realmente deseja apagar o email #{templates_email.nome} ?" } %>
            </td>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br />
      <div class="panel-heading">
        <%= link_to 'Criar novo email', new_templates_email_path, class: "btn btn-primary btn-xs" %>
      </div>