
<!-- <%= javascript_include_tag "jquery" %> -->
<!-- <%= stylesheet_link_tag "DataTables-1.10.5/media/css/jquery.dataTables.min.css" %> -->
<!-- <%= javascript_include_tag "DataTables-1.10.5/media/js/jquery.dataTables.min.js" %> -->
<!-- <%= csrf_meta_tag %> -->
<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 100,
      pagingType: "full_numbers",
      language: {
        search: "Filtrar:"
      }
    })
});
</script>


<h1>Emails Existentes</h1>

<%= link_to '[Criar novo email]', new_templates_email_path %>
<table id="coolTable" class="display">
<thead>
  <tr>
    <th>Nome</th>
    <th>Enviar email</th>
    <th>Tipo</th>
    <th>Subtipo</th>
   
    <th>Template</th>
    
    <th></th>
  </tr>
</thead>
<tbody>
<% @templates_emails.each do |templates_email| %>
  <tr>
    
    <td><%= link_to templates_email.nome, edit_templates_email_path(templates_email) %></td>
    <td><%= templates_email.sync ? "via Browser" : "Direto"  %></td>
    <td><%= templates_email.tipo %></td>
    <td><%= templates_email.subtipo %></td>
    <td><%= link_to templates_email.template , sql_template_path(templates_email.template) if ! templates_email.sync %></td>

    
 
    <td><%= link_to 'Apagar', templates_email, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to '[Criar novo email]', new_templates_email_path %>
