<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @templates_email.tipo %>
</p>

<p>
  <b>Template:</b>
  <%= @templates_email.template %>
</p>

<p>
  <b>Nome:</b>
  <%= @templates_email.nome %>
</p>

<p>
  <b>Subtipo:</b>
  <%= @templates_email.subtipo %>
</p>


<%= link_to '[Editar]', edit_templates_email_path(@templates_email) %> |
<%= link_to '[Listagem]', templates_emails_path %>
