<%= form_for(@producao) do |f| %>
  <% if @producao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producao.errors.count, "error") %> prohibited this producao from being saved:</h2>

      <ul>
      <% @producao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job %><br />
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :detalhe %><br />
    <%= f.text_field :detalhe %>
  </div>
  <div class="actions">
  
     <%= submit_tag("Criar") %>
  </div>
<% end %>
