<% title "GAM. Jobs Executados" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Jobs Executados</h1>
    <%= will_paginate @producaos %>
    <%= form_tag(producaos_path, :method => "get") do %>
    
    <%= text_field_tag(:search, @search, :size => 50,:autofocus => true) %>
    <%= submit_tag("Filtrar") %>
    <% end %>
  </div>
  <div class="panel-body">
    <table id="coolTable" class="generalTable">
      <thead>
        <tr class="head">
          <th>Job</th>
          <th>Id</th>
          <th>Status</th>
          <th>Data Submissao</th>
          <th>Data Termino</th>
          <th>Detalhe</th>
        </tr>
      </thead>
      <tbody>
        <% @producaos.each do |producao| %>
        <tr>
          <td><%= producao.job %></td>
          <td><%= producao.id %></td>
          <td><%= producao.status %></td>
          <td><%= nice_apresentacao_data(producao.created_at,"%Y/%m/%d-%H:%M:%S") %></td>
          <td><%= nice_apresentacao_data(producao.data,"%Y/%m/%d-%H:%M:%S") %></td>
          <td><%= print_nice_detalhe(producao.detalhe).html_safe %></td>
          
        </tr>
        <% end %>
      </tbody>
    </table>
    <br />