<h1>Gestao de Usuario</h1>


<%= form_tag(gestao_usuarios_path, :method => "get") do %>
 
  <%= text_field_tag(:search, @login, :size => 50) %>
  <%= submit_tag("Procurar") %>
  
<% end %>


<b>
</br><%= "Login:  #{@usuario.login} - Nome: #{@nomecompleto}" %>
<% if (can? :manager, :usuarios) and (! @funcionario.nil?) %>
      <%= "- Matricula: #{@funcionario.Matricula}" %>
      </br><%= "CPF: #{@funcionario.CPF} - Identidade: #{@funcionario.Identidade}" %>
      </br><%= "Admissao: #{@funcionario.DataAdmissao} - Demissao: #{@funcionario.DataDemissao}" %>
      </br><%= "Torre: #{@funcionario.NomeTipoCC}/#{@funcionario.DescCCTorre} - Local Trabalho(RM): #{@funcionario.NomeLocalTrabalho} - #{@funcionario.NomAlocacao}" %>
      <%= " - Posicao: #{@posicaoFacilities} "  %>   
      </br><%= "Gestor: #{@funcionario.OwnerCC}" %>
      </br><%= "Ramais: #{@ramais}" %>

      <!--%= link_to("[Enviar Email]", email_gestao_usuario_path(@usuario.login), :id => "enviar_email_ci", :remote => true)%-->


      
      
      </br>
  
</b>
</br>
<% if ! @usuario.login.nil? %>
<%= link_to '[Alocar Estacao]', escolher_estacao_alocar_path, :id => "zNovo" %>
<%= link_to '[Alocar Licenca]', escolher_licenca_alocar_path, :id => "zNovo" %>
<%= link_to '[Termo Entrega de Tudo]', imprimir_termo_entrega_path(@usuario.login,"__ALL__",:all) , :target => "_blank" %>
<%= link_to '[Termo Devolucao de Tudo]', imprimir_termo_devolucao_path(@usuario.login,"__ALL__",:all) , :target => "_blank" %>
<% end %>

</br></br>
<% if (! @usuario.nil?) and (! @usuario.login.nil?) %>
<table style="table-layout:fixed">
<col style="width:16%" span="6" />
   <tr>
    <th>Estacao</th>
     <th>Descricao</th> 
    <th>Gestor</th>
    <th>CC/Projeto Debito</th>
    <th></th>
  </tr>
  <% @estacoes.each do |estacao| %>
      <tr>
        <% if estacao[:chave]=="Sem Estacao" %>
          <td><%= estacao[:chave]%></td>
        <% else %>
          <td><%= link_to estacao[:chave], ci_path(estacao[:chave]), :target => '_blank' %></td>
        <% end%> 
        <td><%= estacao[:detalhes] %></td>
        <td><%= estacao[:gestor] %></td>
        <td><%= "#{estacao[:CCDebito]}/#{estacao[:ProjetoDebito]}" %></td>
        <% if estacao[:chave]!="Sem Estacao" %>
          <td><%= link_to '[Desalocar Estacao]', confirmar_desalocar_estacao_path(@usuario.login,estacao[:chave]) %>
          <%= link_to '[Termo Entrega]', imprimir_termo_entrega_path(@usuario.login,:estacao,estacao[:chave]) , :target => "_blank"%>
          <%= link_to '[Termo Devolucao]', imprimir_termo_devolucao_path(@usuario.login,:estacao,estacao[:chave]) , :target => "_blank"%>
        <% end %>   
        </td> 
      </tr>
  <% end %>
</table>  
</br></br>

<table style="table-layout:fixed">
<col style="width:16%" span="6" />
   <tr>
    <th>Monitor</th> 
    <th>Descricao</th>
    <th>Gestor</th>
    <th>CC/Projeto Debito</th>
    <th></th>
  </tr>
  <% @monitores.each do |monitor| %>
      <tr>
        <td><%= link_to monitor[:chave], ci_path(monitor[:chave]), :target => '_blank' %></td>
         <td><%= monitor[:detalhes] %></td>
        <td><%= monitor[:gestor] %></td>
        <td><%= "#{monitor[:CCDebito]}/#{monitor[:ProjetoDebito]}" %></td>
        <td><%= link_to '[Termo Entrega]', imprimir_termo_entrega_path(@usuario.login,:monitor,monitor[:chave]) , :target => "_blank"%>
        <%= link_to '[Termo Devolucao]', imprimir_termo_devolucao_path(@usuario.login,:monitor,monitor[:chave]) , :target => "_blank"%>
        </td>
        
         
      </tr>
  <% end %>
</table>  
</br></br>

<table style="table-layout:fixed">
<col style="width:16%" span="6" />
   <tr>
    <th>Celular</th> 
    <th>Descricao</th>
    <th>Gestor</th>
    <th>CC/Projeto Debito</th>
    <th></th>
  </tr>
  <% @celulares.each do |celular| %>
      <tr>
        <td><%= link_to celular[:chave], ci_path(celular[:chave]), :target => '_blank' %></td>
         <td><%= celular[:detalhes] %></td>
        <td><%= celular[:gestor] %></td>
        <td><%= "#{celular[:CCDebito]}/#{celular[:ProjetoDebito]}" %></td>
        <td><%= link_to '[Termo Entrega]', imprimir_termo_entrega_path(@usuario.login,:celular,celular[:chave]) , :target => "_blank"%>
        <%= link_to '[Termo Devolucao]', imprimir_termo_devolucao_path(@usuario.login,:celular,celular[:chave]) , :target => "_blank"%>
        </td>
        
         
      </tr>
  <% end %>
</table>  
</br></br>

<table style="table-layout:fixed">
<col style="width:16%" span="6" />
   <tr>
    <th>Placa de Dados</th> 
    <th>Descricao</th>
    <th>Gestor</th>
    <th>CC/Projeto Debito</th>
    <th></th>
  </tr>
  <% @placadados.each do |placadados| %>
      <tr>
        <td><%= link_to placadados[:chave], ci_path(placadados[:chave]), :target => '_blank' %></td>
         <td><%= placadados[:detalhes] %></td>
        <td><%= placadados[:gestor] %></td>
        <td><%= "#{placadados[:CCDebito]}/#{placadados[:ProjetoDebito]}" %></td>
        <td><%= link_to '[Termo Entrega]', imprimir_termo_entrega_path(@usuario.login,:placadados,placadados[:chave]) , :target => "_blank"%>
        <%= link_to '[Termo Devolucao]', imprimir_termo_devolucao_path(@usuario.login,:placadados,placadados[:chave]) , :target => "_blank"%>
        </td>
        
        
      </tr>
  <% end %>
</table>  
</br></br>

<table style="table-layout:fixed">
<col style="width:16%" span="6" />
  <tr>
    <th>Licenca</th>
    <th>Descricao</th>
    <th>Gestor</th>
    <th>CC/Projeto Debito</th>
  
    <th></th>
  </tr>

<% @licencas.each do |licenca| %>
  <tr>
    <td><%= link_to licenca[:chave],  ci_path(licenca[:chave]), :target => '_blank' %></td>
    <td><%= licenca[:descricao] %></td>
    <td><%= licenca[:gestor] %></td>
    <td><%= "#{licenca[:CCDebito]}/#{licenca[:ProjetoDebito]}" %></td>
    
    <td><%= link_to '[Remover Licenca]', confirmar_remocao_licenca_path(@usuario.login,licenca[:chave]) %></td> 
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Erros e Distorcoes</th>
   
  </tr>

<% @erros.each do |e| %>
  <tr>
    <td><%= e %></td> 
  </tr>
<% end %>
</table>
<% end %>

<table>
  <tr>
    <th>Acao</th>
  </tr>
</table>

<% if @modo == :desalocar_estacao %>
<div id="stylized" class="myform">
<h1>Se voce deseja realmente desalocar a estacao <%=@estacao%>, digite o nome da estacao abaixo
</h1>


<%= form_tag(desalocar_estacao_path, :method => "post") do %>
 
  <%= text_field_tag("confirmacao", @confirmacao, :size => 50) %>
  <%= hidden_field_tag 'token_confirmacao',@estacao %>
  <%= hidden_field_tag 'id', @login%>
  <%= submit_tag("Eliminar") %>
</br></br>
</div>
<% end %>
<% end %>

<% if @modo == :alocar_estacao %>
   <div id="stylized" class="myform">
   <%= form_tag(alocar_estacao_path, :method => "post") do %>
        
        <label>Estacao
        <span class="small">Chave (ou patrimonio) </span>
        </label>
        <%= text_field_tag :estacao  %>
        <div class="spacer"></div>

        <label>Gestor
        <span class="small">Login de rede do Gestor </span>
        </label>
        <%= text_field_tag :gestor  %>
        
        <label>Centro de Custo
        <span class="small">para debitar </span>
        </label>
        <%= text_field_tag :cc  %>

        
        <label>Codigo do Projeto
        </label>
        <%= text_field_tag :projeto  %>

        <%= javascript_include_tag "validador_atributos.js" %>
        <%= render :partial => 'cis/edit_atributos' %>
        <br><br>
        <%= hidden_field_tag :id, @login%>
        <div class="spacer"></div>
        <%= submit_tag("Alocar") %>
    <% end %>
    </br></br>
  </div>
  
<% end %>

<% if @modo == :remocao_licenca %>
<div id="stylized" class="myform">
<h1>Se voce deseja realmente remover a licenca <%=@licenca%>, digite o nome da licenca abaixo
</h1>


<%= form_tag(remover_licenca_path, :method => "post") do %>
 
  <%= text_field_tag("confirmacao", @confirmacao, :size => 50) %>
  <%= hidden_field_tag 'token_confirmacao',@licenca %>
  <%= hidden_field_tag 'id', @login%>
  <%= submit_tag("Eliminar") %>
</br></br>
</div>
<% end %>
<% end %>

<% if @modo == :alocar_licenca %>
<div id="stylized" class="myform">

<%= form_tag(alocar_licenca_path, :method => "post") do %>

  <label>Qual licenca alocar ?
  </label>
  <%= select_tag :licenca, options_for_select(@licencasexistentes) %>
  <div class="spacer"></div>
  
  <label>Gestor
  <span class="small">Login de rede do Gestor </span>
  </label>
  <%= text_field_tag :gestor  %>
  
  
  <label>Centro de Custo
  <span class="small">para debitar </span>
  </label>
  <%= text_field_tag :cc  %>

  
  <label>Codigo do Projeto
  </label>
  <%= text_field_tag :projeto  %>
  <div class="spacer"></div>

  <%= hidden_field_tag :id, @login%>
  <div class="spacer"></div>
  <%= submit_tag("Alocar") %>
</br></br>
</div>

<% end %>
<% end %>
<% end %>




