<%= form_for(@producao_ci) do |f| %>
  <% if @producao_ci.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producao_ci.errors.count, "error") %> prohibited this producao_ci from being saved:</h2>

      <ul>
      <% @producao_ci.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job %><br />
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :ci_id %><br />
    <%= f.number_field :ci_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :detalhe %><br />
    <%= f.text_field :detalhe %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
