<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
 
	  <ul>
	  <% @task.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
  <% end %>
 

<div class="spacer"></div>
<label>Nome
<span class="small"></span>
</label>
<%= f.text_field :nome, :size => 70 %>

<div class="spacer"></div>

<label>Evento
<span class="small">Descricao do Evento</span>
</label>
<%= f.text_area :description , :cols => 60, :rows => 10 %>
<div class="spacer"></div>

<label>Doc Change Mgmt
<span class="small">URL para Doc dessa mudança</span>
</label>
<%= f.text_field :DocChange, :size => 70 %>
<div class="spacer"></div>


<label>Publica ?
<span class="small">Esse alerta pode ser mostrado para os gestores? </span>
</label>
<div class="field">
    <%= f.check_box :publica %>

</div>
<div class="spacer"></div>

<label>Tipo
<span class="small">Qual o tipo de alerta ?</span>
</label>
<%= f.select :tipotask, (["Mudança", "Incidente", "Info"]) %>
<div class="spacer"></div>

<label>Status
<span class="small">Qual o status de alerta ?</span>
</label>
<%= f.select :status, (["Aberto", "Normalizado" , "Resolvido", "Executado com Sucesso", "Cancelado","Rollback"]) %>
<div class="spacer"></div>

<label>Criticidade
<span class="small">Qual a criticidade desse alerta ?</span-->
</label>
<%= f.select :criticidade_id, @criticidades.collect { |a| [ a.name, a.id ] }  %>
<div class="spacer"></div>

<label>Fornecedor
<span class="small">Fornecedor ?</span-->
</label>
<%= f.select :fornecedor_id, @fornecedores.collect { |a| [ a.nome, a.id ] }  %>
<div class="spacer"></div>

<label>Chamado
<span class="small">Codigo do Chamado</span>
</label>
<%= f.text_field :chamado , :size => 20 %>
<div class="spacer"></div>

<label>Executor</label>
<%= f.select :author_id, @authors.collect { |a| [ a.name, a.id ] }  %>
<div class="spacer"></div>




<label>Cliente</label>
<%= f.select :category_id, @categories.collect { |c| [ c.name, c.id ] } %>
<div class="spacer"></div>

<label>Site BRQ</label>
<%= f.select :site_id, @sites.collect { |c| [ c.nome, c.id ] } %>
<div class="spacer"></div>

<button type="submit">Salvar Alerta</button>

<div class="spacer"></div>
<% end %>
