<h1> <%= title %> </h1>
<table>
  <tr>
        <th>Cliente</th>
        <th>CI</th>
        <th>Evento</th>
        <th>Tipo</th>
        <th>Status</th>
        <th>Criticidade</th>
        <th>Chamado</th>
        <th>Autor</th>
        <th>Site</th>
        <th>Criado em</th>
        <th>Ult atualizacao</th>

  </tr>
<% tasks.each do |task| %>
  <tr>
        <td><%= link_to task.category.name, task_path(task)%></td>

        <td><%= link_to task.ci.chave, ci_path(task.ci), :target => "_blank" if task.ci %></td>
        <td> <%= link_to "#{task.nome}:#{task.description}"[0,100], task_path(task), {:style=>'color:#000000', :class => "css_class"} %></td>
        <td><%= task.tipotask %></td>
        <td><%= task.status %></td>

        <td style="background-color:<%=task.criticidade.alertacor%>">
        <%= task.criticidade.name %></td>
        <td><%= task.chamado %></td>





        <td><%= task.author.name %></td>
        <td><%= task.site.nome %></td>
        <td style="width:100px"><%= task.criado_em %></td>
        <td style="width:100px"><%= task.alterado_em %></td>


    <% if can? :manager, "tasks" %>
    
    <% end %>
  </tr>
<% end %>
</table>