<h1>Alertas e Mudancas</h1>
 <p>
   <%= link_to '[Novo Alerta]', new_task_path unless cannot? :manage, "tasks" %> 
</p>
<table>
  <tr>
	<th>Cliente</th>
	<th>CI</th>
	<th>Evento</th>
	<th>Tipo</th>
	<th>Status</th>
	<th>Criticidade</th>
	<th>Fornecedor</th>
	<th>Chamado</th>
	<th>Autor</th>
	<th>Site</th>
	<th>Criado em</th>
	<th></th>
	<th></th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
	<td><%= link_to task.category.name, task_path(task)%></td>
	
	<td><%= link_to task.ci.chave, ci_path(task.ci), :target => "_blank" if task.ci %></td>
	<td> <%= link_to "#{task.nome}:#{task.description}"[0,100], task_path(task), {:style=>'color:#000000', :class => "css_class"} %></td>
	<td><%= task.tipotask %></td>
	<td><%= task.status %></td>
	
	<% 	if task.criticidade.critico? %>
        <td style="background-color:#ff0000"> 
	<%  else %>
	    <td>
	<%  end %>		
	<%= task.criticidade.name %></td>
	<td><%= task.fornecedor.nome %></td>
	<td><%= task.chamado %></td>
	
	<td><%= task.author.name %></td>
	<td><%= task.site.nome %></td>
	<td><%= task.criado_em %></td>

	<% if can? :manager, "tasks" %>
	<td><%= link_to 'Editar', edit_task_path(task) %></td>
	<td><%= link_to 'Apagar', task, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
 
<br />
 

