 <p>
   <%= link_to '[Novo Alerta]', new_task_path unless cannot? :manage, "tasks" %> 
</p>
<%= form_tag(tasks_path, :method => "get") do %>
 
  <%= text_field_tag(:search, @search_tasks, :size => 50) %>
  <%= submit_tag("Filtrar") %>
<% end %>

<%= render :partial => 'tasks' , :locals => {:title => "Alertas Abertos ", :tasks => @tasks } %>
<%= render :partial => 'tasks' , :locals => {:title => "Alertas Ativos ", :tasks => @tasksativas } if @tasksativas %>

<!--%= render :partial => 'edges' } %-->

 
<br />
 

