<meta http-equiv="refresh" coment="30" >
<div id="stylized" class="myform">
 
<h1 id="notice"><%= notice %></h1>


<% if @task.ci %>
  <h1> CI:
  <%= link_to @task.ci.chave, ci_path(@task.ci), :target => "_blank" if @task.ci %></td>
  </h1>
<% end %>

<h1>
  <b>Nome do Evento:</b>
  <%= @task.nome %>
</h1>
<p> </p>
<h1>
  <b>Descricao:</b>
 </h1>
  <div style="word-wrap:break-word;">
  <%= content_tag('pre',@task.description) %>
  </div >

 <p></p>

 <% if can? :manager, "tasks" %>
 <h1>
  <b>Info Interna:</b>
 </h1>
  <%= content_tag('pre',@task.comentario) %>

 <p></p>
<%end%> 
 
<% if ! @task.DocChange.blank?  %>
    <h1><a href="javascript: void(0)" onclick="window.open('','_new').location.href='<%= @task.DocChange %>'">[Doc. Ultima Mudanca]</a>
    </h1>
<% end %>


<h1>
  <b>Alerta Publico ?</b>
  <%= @task.publica ? 'Sim' : 'Nao' %>
</h1>

<h1>
  <b>Tipo de Alerta:</b>
  <%= @task.tipotask %>
</h1>


<h1>
  <b>Status do Alerta:</b>
  <%= @task.status_incidente.status %>
</h1>

<h1>
  <b>Status:</b>
  <%= @task.status_incidente.status %>
  em <%= @task.criado_em %>
   por <%= @task.author.name %>
</h1>

<h1>
  <b>Criticidade:</b>
  <%= @task.criticidade.name %>
</h1>



<h1>
  <b>Fornecedor:</b>
  <%= @task.fornecedor.nome %>
</h1>

<h1>
  <b>Chamado:</b>
  <%= @task.chamado %>
</h1>

<h1>
  <b>Executor:</b>
  <%= @task.author.name %>
</h1>

<h1>
  <b>Solicitante:</b>
  <%= @task.solicitante %>
</h1>


<h1>
  <b>Cliente:</b>
  <%= @task.category.name %>
</h1>

<h1>
  <b>Site:</b>
  <%= @task.site.nome %> 
</h1>
 

<%= link_to '[Editar]', edit_task_path(@task) unless cannot? :manage, "tasks" %> 
<%= link_to '[Apagar]', @task, data: { confirm: 'Voce tem certeza que deseja excluir esse item ?'} , :method => :delete %></td>
<%= link_to '[Voltar]', tasks_path %>
 </div>
