<h1>Listing padrao_checklists</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Itens</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @padrao_checklists.each do |padrao_checklist| %>
  <tr>
    <td><%= padrao_checklist.nome %></td>
    <td><%= padrao_checklist.itens %></td>
    <td><%= link_to 'Show', padrao_checklist %></td>
    <td><%= link_to 'Edit', edit_padrao_checklist_path(padrao_checklist) %></td>
    <td><%= link_to 'Destroy', padrao_checklist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Padrao checklist', new_padrao_checklist_path %>
