<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @padrao_checklist.nome %>
</p>

<p>
  <b>Itens:</b>
  <%= @padrao_checklist.itens %>
</p>


<%= link_to 'Edit', edit_padrao_checklist_path(@padrao_checklist) %> |
<%= link_to 'Back', padrao_checklists_path %>
