<h1>Custos de Software</h1>

<table>
  <tr>
    <th>Software</th>
    <th>Custo Mensal</th>
    <th>Cobrar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @custo_softwares.each do |custo_software| %>
  <tr>
    <td><%= custo_software.software %></td>
    <td><%= custo_software.custoMensal %></td>
    <td><%= custo_software.status %></td>
    
    <td><%= link_to 'Editar', edit_custo_software_path(custo_software) %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Software', new_custo_software_path %>
