<%= form_for(@parametro) do |f| %>
  <% if @parametro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parametro.errors.count, "error") %> prohibited this parametro from being saved:</h2>

      <ul>
      <% @parametro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :Tipo %>
    <%= f.text_field :tipo %>
  </div>   

   <div class="field">
    <%= f.label :SubTipo %>
    <%= f.text_field :subtipo %>
  </div>   
  <div class="field">
    <%= f.label :valor %>
    <%= f.text_area :valor, :cols => 200, :rows => 40 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
