<%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 100,
      pagingType: "full_numbers",
      language: {
        search: "Filtrar:"
      }      
    })
});
</script>


<h1>Parametros</h1>
<% if can? :admin, :all %>
   <%= link_to "[Novo Parametro]", new_parametro_path %>
<% end %>

<table id="coolTable" class="generalTable">
<thead>
  <tr class="head">
    <th>Tipo</th>
    <th>Subtipo</th>
    <th>Valor</th>
    <th></th>
   </tr>
</thead>
<tbody>
<% @parametros.each do |parametro| %>
  <tr>
   <% if can? :admin, :all %>
    <td><%= link_to parametro.tipo, parametro_path(parametro) %></td>
   <% else %>
    <td><%= parametro.tipo %></td>
   <% end %> 
    <td><%= parametro.subtipo %></td>
    <td><%= parametro.valor[0,400] if ! parametro.valor.blank? %></td>
    <td><%= link_to "Editar", edit_parametro_path(parametro) if can? :admin, :all %></td>
    
  </tr>
<% end %>
</tbody>
</table>

<% if can? :admin, :all %>
   <%= link_to "[Novo Parametro]", new_parametro_path %>
<% end %>

