<% title "GAM. Parametros" %>
<!-- <%= csrf_meta_tag %> -->

<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 100,
      pagingType: "full_numbers",
       language: { 
          search: "Filtrar:" ,
          infoFiltered: "(Total de _MAX_ registros)",
          info:   "Mostrando do registro _START_ até _END_ de um total de  _TOTAL_ filtrados",
          "lengthMenu":     "Mostrar _MENU_ registros",
          "paginate": {
              "first":      "Primeira",
              "last":       "Última",
              "next":       "Próxima",
              "previous":   "Anterior"
          },
          "infoEmpty":      "Mostrando do registro 0 até 0 de um total de 0 registros",
          "zeroRecords":    "Nenhum registro achado",
          }   
    });
});
</script>

<div id="content">
  <div class="panel panel-default">

    <% if can? :admin, :all %>
      <div class="panel-heading">
        <%= link_to "Novo Parametro", new_parametro_path, class: "btn btn-primary btn-xs" %>
      </div>
    <% end %>
   
    
    <div class="panel-body">
      <table id="coolTable" class="generalTable"> <!-- class="generalTable" -->
        <thead>
          <tr class="head">
            <th class="col-md-1">Parametro</th>
            <th class="col-md-1">Subtipo</th>
            <th class="col-md-7">Valor</th>
            <% if can? :admin, :all %>
            <th class="col-md-1"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @parametros.each do |parametro| %>
          <tr>
            <% if can? :admin, :all %>
            <td><%= link_to parametro.tipo, parametro_path(parametro) %></td>
            <% else %>
            <td><%= parametro.tipo %></td>
            <% end %>
            <td><%= parametro.subtipo %></td>
            <td><%= parametro.valor[0,150] if ! parametro.valor.blank? %></td>
            <% if can? :admin, :all %>
              <td><%= link_to "Editar", edit_parametro_path(parametro), class: "btn btn-primary btn-xs"%> 
                  <%= link_to 'Duplicar', duplicar_parametro_path(parametro), class: "btn btn-primary btn-xs" %>
              </td>
            <% end %>
            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="panel-heading">
      <% if can? :admin, :all %>
      <%= link_to "Novo Parametro", new_parametro_path, class: "btn btn-primary btn-xs" %>
      <% end %>
    </div>
  
  </div>
</div>