<%= javascript_include_tag "jquery" %>
<%= stylesheet_link_tag "DataTables-1.10.5/media/css/jquery.dataTables.css" %>
<%= javascript_include_tag "DataTables-1.10.5/media/js/jquery.dataTables.js" %>

<%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 100,
      pagingType: "full_numbers"
      
    })
});
</script>


<h1>Parametros</h1>

<table id="coolTable" class="display">
<thead>
  <tr>
    <th>Tipo</th>
    <th>Subtipo</th>
    <th>Valor</th>
   </tr>
</thead>
<tbody>
<% @parametros.each do |parametro| %>
  <tr>
   
    <td><%= link_to parametro.tipo, edit_parametro_path(parametro) %></td>
    <td><%= parametro.subtipo %></td>
    <td><%= parametro.valor[0,400] if ! parametro.valor.blank? %></td>
    
  </tr>
<% end %>
</tbody>

<% if can? :admin, :all 
   link_to "Novo Parametro", new_parametro_path 
  end %>
</table>

