<h1>Listing area_responsabilidades</h1>

<table>
  <tr>
    <th>Area</th>
    <th>Responsaveis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @area_responsabilidades.each do |area_responsabilidade| %>
  <tr>
    <td><%= area_responsabilidade.area %></td>
    <td><%= area_responsabilidade.responsaveis %></td>
    <td><%= link_to 'Show', area_responsabilidade %></td>
    <td><%= link_to 'Edit', edit_area_responsabilidade_path(area_responsabilidade) %></td>
    <td><%= link_to 'Destroy', area_responsabilidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Area responsabilidade', new_area_responsabilidade_path %>
