<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @area_responsabilidade.area %>
</p>

<p>
  <b>Responsaveis:</b>
  <%= @area_responsabilidade.responsaveis %>
</p>


<%= link_to 'Edit', edit_area_responsabilidade_path(@area_responsabilidade) %> |
<%= link_to 'Back', area_responsabilidades_path %>
