<h1>Jobs Agendados</h1>

<table>
  <tr>
    <th>Ordem</th>
    <th>Job</th>
    <th>When</th>
    <th></th>
    <th></th>
    <th></th>
     <th></th>
  </tr>

<% @schedulers.each do |scheduler| %>
  <tr>
    <td><%= scheduler.ordem %></td>
    <td><%= SchedulerGenField(scheduler.job) %></td>
    <td><%= scheduler.when %></td>
    <td><%= link_to 'Mostrar', scheduler %></td>
    <% if (can? :manage, Scheduler)  %>
    
    
    <td><%= link_to 'Editar', edit_scheduler_path(scheduler) %></td>
    <td><%= link_to 'Apagar', scheduler, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
    <td><%= link_to 'Rodar', scheduler_run_path(scheduler) ,method: :post, data: { confirm: 'Confirma executar esse job agora ?' } %></td>
    <% end %>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Job', new_scheduler_path %>
