
<script type="text/javascript">
$(function() {
    $("#datepicker1").datepicker(); 
    $("#datepicker2").datepicker(); 
});

</script>
<%= form_for([:checklist,@init_checklist]) do |f| %>
  <% if @init_checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@init_checklist.errors.count, "Erro") %></h2>

      <ul>
      <% @init_checklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="spacer"></div>
<label>Descrição
<span class="small">Descriçao desse Checklists</span>
</label>
<%= f.text_field :descricao, :size => 100 %>

<div class="spacer"></div>
<label>Alias
<span class="small">Alias para campo Jira</span>
</label>
<%= f.text_field :alias, :size => 20 %>

<div class="spacer"></div>
<label>Executor
<span class="small">Login de quem irá liderar esse checklist</span>
</label>
<%= f.text_field :users, :size => 50 %>


<label>CI
<span class="small">Principal CI sendo impactado</span>
</label>
<div>
<%= f.text_field :cis, :size => 50 %>
<div id="ci-droplist-container" style="position:absolute; width: 50px;"></div>
</div>

<div class="spacer"></div>
<label>Inicio da Execução
</label>
<%= f.text_field :inicioexec, :id => "datepicker1", :required => true %>


<label>Fim da Execução
</label>
<%= f.text_field :fimexec, :id => "datepicker2" , :required => true %>

<div class="spacer"></div>

<%= render 'params_tickets' %>


  <%= f.hidden_field :checklist_id  %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>