<h1>Listing init_checklists</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Users</th>
    <th>Agrupar</th>
    <th>Cis</th>
    <th>Inicioexe</th>
    <th>Fimexec</th>
    <th>Checklist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @init_checklists.each do |init_checklist| %>
  <tr>
    <td><%= init_checklist.descricao %></td>
    <td><%= init_checklist.users %></td>
    <td><%= init_checklist.agrupar %></td>
    <td><%= init_checklist.cis %></td>
    <td><%= init_checklist.inicioexec %></td>
    <td><%= init_checklist.fimexec %></td>
    <td><%= init_checklist.checklist_id %></td>
    <td><%= link_to 'Show', init_checklist %></td>
    <td><%= link_to 'Edit', edit_init_checklist_path(init_checklist) %></td>
    <td><%= link_to 'Destroy', init_checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Init checklist', new_init_checklist_path %>
