<%= javascript_include_tag "jquery" %>
<%= stylesheet_link_tag "DataTables-1.10.5/media/css/jquery.dataTables.min.css" %>
<%= javascript_include_tag "DataTables-1.10.5/media/js/jquery.dataTables.min.js" %>

<%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 100,
      pagingType: "full_numbers"
      
    })
});
</script>


<h1>Usuarios Cadastrados</h1>

<table id="coolTable" class="display">
  <thead>
  <tr>
    <th>Usuario</th>
    <th>Login</th>
    <th>Perfil</th>
    <th></th>
    <th></th>
    
  </tr>
  </thead>
<tbody>

<% @users.each do |user| %>
  <tr> 
    <td><%= user.name %></td>
    <td><%= user.login %></td>
    <td><%= user.roles %> </td>
   <% if (can? :manage, User)  %>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Confirma apagar?' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<br />

