<%= csrf_meta_tag %>


<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 100,
      pagingType: "full_numbers",      
      language: {
        search: "Filtrar:"
      }
    })
});
</script>

<table id="coolTable" class="generalTable">  <!-- coolTable faz os filtros, ordem...generalTable faz o layout visual -->
  <thead>
  <tr class="head">
    <th>Usuario</th>
    <th>Login</th>
    <th>Perfil</th>
<% if (can? :manage, User)  %>
    <th></th>
    <th></th>
<% end %> 
    
  </tr>
  </thead>
<tbody>

<% @users.each do |user| %>
  <tr> 
    <td><%= user.name %></td>
    <td><%= user.login %></td>
    <td><%= user.roles %> </td>
   <% if (can? :manage, User)  %>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Confirma apagar?' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<br />

