<h1>Usuarios Cadastrados</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Login</th>
    <th>Role</th>
    <th></th>
    <th></th>
    
  </tr>

<% @users.each do |user| %>
  <tr> 
    <td><%= user.name %></td>
    <td><%= user.login %></td>
    <td><%= user.roles %> </td>
   <% if (can? :manage, User)  %>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Confirma apagar?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

