<div id="stylized" class="myform">
<b><h1>Usuario</h1><b>
<p id="notice"><%= notice %></p>

<table>
  <col width="130">
<tr><td>Perfil:</td><td><b><%= @user.roles  %></b></td></tr>
<tr><td>Login:</td><td><b><%= @user.name  %></b></td></tr>


</table>


<% if (can? :manage, User)  %>
<%= link_to 'Editar', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Listagem', users_path %>
