<h4>Mudando a Senha</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nova Senha" %><br />
    <% if @minimum_password_length %>
      <em>(No mínimo, <%= @minimum_password_length %> caracteres)</em>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control input-sm chat-input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Nova Senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-sm chat-input" %>
  </div>
  <br>
   <div class="actions">
        <button type="submit" class="btn btn-primary btn-md" id="Login">Mudar Senha</button>
   </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
