<h4>Recuperando a Senha</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control input-sm chat-input" %>
  </div>

 <br>
  <div class="actions">
        <button type="submit" class="btn btn-primary btn-md" id="Login">Enviar email com instruções de nova senha </button>
   </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
<%= render "devise/shared/providers" %>
