<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @evento.nome %>
</p>

<p>
  <b>Datainicio:</b>
  <%= @evento.dataInicio %>
</p>

<p>
  <b>Status:</b>
  <%= @evento.status %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
