<%= form_for(@template_survey) do |f| %>
  <% if @template_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template_survey.errors.count, "error") %> prohibited this template_survey from being saved:</h2>

      <ul>
      <% @template_survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :formulario %><br />
    <%= f.text_area :formulario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
