<%= form_for(@fornecedor) do |f| %>
  <% if @fornecedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h2>

      <ul>
      <% @fornecedor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <label>Fornecedor
  <span class="small">Fornece um nome de referencia</span>
  </label>
    <%= f.text_field :nome %>
  
  <label>CNPJ
  </label>
  <%= f.text_field :cnpj %>
   <div class="spacer"></div>

  <label>Nome Completo
  <span class="small">Nome completo do Fornecedor</span>
  </label>
  <%= f.text_field :nomecompleto, :size => 60 %> 
  
  <div class="spacer"></div>

  <label>Enderecos
  </label>
  <%= f.text_area :enderecos, :cols => "80" %>
  <div class="spacer"></div>

  <label>Contatos
  </label>
  <%= f.text_area :contatos, :cols => "80" %>
  <div class="spacer"></div>

  <label>Anotacoes
  </label>
  <%= f.text_area :anotacoes, :cols => "80" %>


<div class="spacer10"></div>

<button type="submit" id="Salvar Fornecedor">Salvar Fornecedor</button>

<% end %>