<h1>Fornecedores</h1>
<%= link_to '[Novo Fornecedor]', new_fornecedore_path %>
<%= will_paginate @fornecedor %>
<%= form_tag(fornecedores_path, :method => "get") do %>
 
  <%= text_field_tag(:search, @search, :size => 50) %>
  <%= submit_tag("Filtrar") %>
<% end %>

<table>
  <tr>
    <th>Nome</th>
    <th>Contratos</th>
    <th></th>
    <th></th>
  </tr>

<% @fornecedores.each do |fornecedor| %>
  <tr>
    <td><%= link_to  fornecedor.nome , fornecedor %></td>
    <td><a href="<%='/contratos?search='+fornecedor.nome%>" >Contratos</a>
    <td><%= link_to 'Editar', edit_fornecedore_path(fornecedor) %></td>
    <td><%= link_to 'Apagar', fornecedor, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @fornecedor %>

<br />

