<h1>Fornecedores</h1>
<%= link_to 'Novo Fornecedor', new_fornecedore_path %>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
  </tr>

<% @fornecedores.each do |fornecedor| %>
  <tr>
    <td><%= link_to  fornecedor.nome , fornecedor %></td>
    <td><%= link_to 'Editar', edit_fornecedore_path(fornecedor) %></td>
    <td><%= link_to 'Apagar', fornecedor, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @fornecedor %>

<br />

