<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @fornecedor.nome %>
</p>

<p>
  <b>Nome Completo:</b>
  <%= @fornecedor.nomecompleto %>
</p>

<p>
  <b>CNPJ:</b>
  <%= @fornecedor.cnpj %>
</p>

<p>
  <b>Enderecos:</b>
  <%= content_tag('pre',@fornecedor.enderecos)%>
</p>

<p>
  <b>Contatos:</b>
  <%= content_tag('pre',@fornecedor.contatos) %>
</p>

<p>
  <b>Anotacoes:</b>
  <%= content_tag('pre',@fornecedor.anotacoes) %>
</p>


<%= link_to 'Editar', edit_fornecedore_path(@fornecedor) %> |
<%= link_to 'Listagem', fornecedores_path %> |
<a href="<%='/contratos?search='+@fornecedor.nome%>" >Contratos desse fornecedor</a>
