<h1>Checklist em Andamento</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>TIcket</th>
    <th>Status</th>
    <th>Cis</th>
    <th>Users</th>
    <th>Inicioexec</th>
    <th>Fimexec</th>
    <th></th>

  </tr>

<% @exec_checklists.each do |exec_checklist| %>
  <tr>
    <td><%= link_to exec_checklist.descricao, exec_checklist  %></td>
    <td><%= link_to exec_checklist.tickets, @url_jira % exec_checklist.tickets, :target => '_blank'  if ! exec_checklist.tickets.blank? %></td>
    <td><%= exec_checklist.status %></td>
    <td><%= exec_checklist.cis %></td>
    <td><%= exec_checklist.users %></td>
    <td><%= exec_checklist.inicioexec %></td>
    <td><%= exec_checklist.fimexec %></td>
  </tr>
<% end %>
</table>

<br />

