<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @exec_checklist.descricao %>
</p>

<p>
  <b>Cis:</b>
  <%= @exec_checklist.cis %>
</p>

<p>
  <b>Users:</b>
  <%= @exec_checklist.users %>
</p>

<p>
  <b>Inicioexec:</b>
  <%= @exec_checklist.inicioexec %>
</p>

<p>
  <b>Ticket:</b>
   <%= link_to @exec_checklist.tickets, @url_jira % @exec_checklist.tickets , :target => '_blank' if ! @exec_checklist.tickets.blank?  %>
</p>

<p>
  <b>Fimexec:</b>
  <%= @exec_checklist.fimexec %>
</p>



<%= link_to 'Listagem', exec_checklists_path %>
