<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :requisicao %>
    <%= f.text_field :requisicao  %>
  </div>
<br />
  <div class="field">
    <%= f.label :status %>
   	<%= f.select :status_pedido_id, @statuspedido.collect { |c| [ c.status, c.id ] } %>
  </div>
<br />
  <div class="field">
    <%= f.label "Login do Solicitante" %>
    <%= f.text_field :solicitante, 
				:size => Pedido::LOGIN_SCREEN_SIZE,
				:maxlength => Pedido::LOGIN_MAX_LENGTH %>@brq.com
<br/><br />	
  </div>
  <div class="field">
    <%= f.label 'Login do Usuario' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :loginUsuario,
				:size => Pedido::LOGIN_SCREEN_SIZE,
				:maxlength => Pedido::LOGIN_MAX_LENGTH %>@brq.com
  </div>
<br/>	
  <div class="field">
    <%= f.label :dataPedido, 'Data do Pedido'%>
    <%= f.date_select :dataPedido %>
  </div>
  <div class="field">
    <%= f.label :dataAutorizacao, 'Data da Autorizacao' %>
    <%= f.date_select :dataAutorizacao %>
  </div>
<br />
  <div class="field">
    <%= f.label :dataSolicitacaoCompras, 'Data Solicitação de Compra' %>
    <%= f.date_select :dataSolicitacaoCompras %>
  </div>
<br />
  <div class="field">
    <%= f.label :dataEntrega, 'Data Prevista de Entrega'%><br />
    <%= f.date_select :dataEntrega %>
  </div>
  <div class="field">
    <%= f.label :comprador %><br />
    <%= f.text_field :comprador, 
				:size => Pedido::LOGIN_SCREEN_SIZE,
				:maxlength => Pedido::LOGIN_MAX_LENGTH %>@brq.com
  </div>
<br />
  <div class="field">
 	<%= f.label :Site %>
	<%= f.select :site_id, @sites.collect { |c| [ c.nome, c.id ] } %>
  </div>
<br />
  <div class="field">
    <%= f.label :ativo %>
    <%= f.text_field :ativo %>
  </div>
<br />
  <div class="field">
    <%= f.label :custoEstimado, 'Custo Estimado:' %>
    <%= f.text_field :custoEstimado %>
  </div>
<br />
  <div class="field">
    <%= f.label :pedidoResumido, "Pedido Resumido" %>
    <%= f.text_field :pedidoResumido %>
  </div>
<br />
  <div class="field">
    <%= f.label :observacao %>
    <%= f.text_field :observacao %>
  </div>
<br />
  <div class="field">
    <%= f.label :CCUN, 'CC UN' %>
    <%= f.text_field :CCUN %>
  </div>
<br />
  <div class="field">
    <%= f.label :projetoUN, 'Projeto UN' %>
    <%= f.text_field :projetoUN %>
  </div>
<br />
  <div class="field">
    <%= f.label :ccTI, 'CC TI' %>
    <%= f.text_field :ccTI %>
  </div>
<br />
  <div class="field">
    <%= f.label :projetoTI, 'Projeto TI' %>
    <%= f.text_field :projetoTI %>
  </div>
<br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
