<h1>Checklists existentes</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Users</th>
    <th>Tipoci</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checklists.each do |checklist| %>
  <tr>
    <td><%= checklist.descricao %></td>
    <td><%= checklist.users %></td>
    <td><%= checklist.tipoci %></td>
    <td><%= link_to 'Vizualizar', checklist %></td>
    <td><%= link_to 'Editar', edit_checklist_path(checklist) %></td>
    <td><%= link_to 'Apagar', checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Checklist', new_checklist_path %>
