<h1>Listing status_checklists</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Icon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @status_checklists.each do |status_checklist| %>
  <tr>
    <td><%= status_checklist.status %></td>
    <td><%= status_checklist.icon %></td>
    <td><%= link_to 'Show', status_checklist %></td>
    <td><%= link_to 'Edit', edit_status_checklist_path(status_checklist) %></td>
    <td><%= link_to 'Destroy', status_checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status checklist', new_status_checklist_path %>
