<h1>Status Checklists</h1>

<table>
  <tr>
    <th></th>
    <th>Status</th><th></th>
    <th></th>
    <th></th>
  </tr>

<% @status_checklists.each do |status_checklist| %>
  <tr>
    <td><img src="/icons/<%=status_checklist.icon%>" alt=" " height="16" width="16"></td>
    <td><%= status_checklist.status %></td>
   
    <td><%= link_to 'Mostrar', status_checklist %></td>
    <td><%= link_to 'Editar', edit_status_checklist_path(status_checklist) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Status', new_status_checklist_path %>
