<%= form_for(@exec_itens_checklist) do |f| %>
  <% if @exec_itens_checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exec_itens_checklist.errors.count, "error") %> prohibited this exec_itens_checklist from being saved:</h2>

      <ul>
      <% @exec_itens_checklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gmud %><br />
    <%= f.text_field :gmud %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :users %><br />
    <%= f.text_field :users %>
  </div>
  <div class="field">
    <%= f.label :cis %><br />
    <%= f.text_field :cis %>
  </div>
  <div class="field">
    <%= f.label :exechecklist %><br />
    <%= f.text_field :exechecklist %>
  </div>
  <div class="field">
    <%= f.label :statuschecklist %><br />
    <%= f.text_field :statuschecklist %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
