<h1>Listing exec_itens_checklists</h1>

<table>
  <tr>
    <th>Gmud</th>
    <th>Descricao</th>
    <th>Users</th>
    <th>Cis</th>
    <th>Exechecklist</th>
    <th>Statuschecklist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exec_itens_checklists.each do |exec_itens_checklist| %>
  <tr>
    <td><%= exec_itens_checklist.gmud %></td>
    <td><%= exec_itens_checklist.descricao %></td>
    <td><%= exec_itens_checklist.users %></td>
    <td><%= exec_itens_checklist.cis %></td>
    <td><%= exec_itens_checklist.exechecklist %></td>
    <td><%= exec_itens_checklist.statuschecklist %></td>
    <td><%= link_to 'Show', exec_itens_checklist %></td>
    <td><%= link_to 'Edit', edit_exec_itens_checklist_path(exec_itens_checklist) %></td>
    <td><%= link_to 'Destroy', exec_itens_checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exec itens checklist', new_exec_itens_checklist_path %>
