<p id="notice"><%= notice %></p>

<p>
  <b>Gmud:</b>
  <%= @exec_itens_checklist.gmud %>
</p>

<p>
  <b>Descricao:</b>
  <%= @exec_itens_checklist.descricao %>
</p>

<p>
  <b>Users:</b>
  <%= @exec_itens_checklist.users %>
</p>

<p>
  <b>Cis:</b>
  <%= @exec_itens_checklist.cis %>
</p>

<p>
  <b>Exechecklist:</b>
  <%= @exec_itens_checklist.exechecklist %>
</p>

<p>
  <b>Statuschecklist:</b>
  <%= @exec_itens_checklist.statuschecklist %>
</p>


<%= link_to 'Edit', edit_exec_itens_checklist_path(@exec_itens_checklist) %> |
<%= link_to 'Back', exec_itens_checklists_path %>
