

<!-- isso vai morrer..itens sera partial do Checklist -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->
<%= form_for(@itens_checklist) do |f| %>
  <% if @itens_checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@itens_checklist.errors.count, "error") %> prohibited this itens_checklist from being saved:</h2>

      <ul>
      <% @itens_checklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Checklist" %><br />
    
    <%= f.select :checklist_id, @checklists.collect { |c| [ c.descricao, c.id ] } %>
  </div>
  <div class="field">
    <%= f.label :Descricao %><br />
    <%= f.text_field :descricao, :size => 100 %>
  </div>

  <div class="field">
    <%= f.label "Tipo de Checklist" %><br />
    
    <%= f.select :tipo_checklist_id, @tiposchecklist.collect { |c| [ c.tipo, c.id ] } %>
  </div>

  <div class="field">
    <%= f.label "Tipo de Abertuda de Ticket" %><br />
    
    <%= f.select :TipoAberturaTicket, (["Novo Ticket", "Comentario"]) %>
  </div>



  <div class="field">
    <%= f.label :Executores %><br />
    <%= f.text_field :users, :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :CIs %><br />
    <%= f.text_field :cis, :size => 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
