
<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->
<p id="notice"><%= notice %></p>

<p>
  <b>Checklist:</b>
  <%= @itens_checklist.checklist.descricao %>
</p>

<p>
  <b>Descricao:</b>
  <%= @itens_checklist.descricao %>
</p>

<p>
  <b>Executor:</b>
  <%= @itens_checklist.users %>
</p>

<p>
  <b>Ci:</b>
  <%= @itens_checklist.cis %>
</p>


<%= link_to 'Editar', edit_itens_checklist_path(@itens_checklist) %> |
<%= link_to 'Listagem do Checklist', @itens_checklist.checklist %> |
<%= link_to 'Listagem dos itens', itens_checklists_path %>

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->

<!-- NAO PERDER TEMPO ALTERANDO ESSE INDEX, pois qq manutencao sera toda no Checklists.. -->