<%= form_for(@sql_template) do |f| %>
  <% if @sql_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sql_template.errors.count, "error") %> ao tentar salvar esse template de email:</h2>

      <ul>
      <% @sql_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :size => "150x30" ,:disabled => ! @edit_mode %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.select :path, (templates_async), {},  :disabled => ! @edit_mode %>
  </div>
  <div class="field">
    <%= f.label :format %><br />
    <%= f.select :format, (["html"]),:disabled => ! @edit_mode %>
  </div>
  <div class="field">
    <%= f.label :locale %><br />
    <%= f.select :locale, (["en"]),:disabled => ! @edit_mode %>
  </div>
  <div class="field">
    <%= f.label :handler %><br />   
    <%= f.select :handler, (["erb"]),:disabled => ! @edit_mode %>
  </div>
  <div class="field">
    <%= f.label :partial %><br />
    <%= f.check_box :partial ,:disabled => ! @edit_mode%>
  </div>
  <% if @edit_mode %>
  <div class="actions">
         <button type="submit" id="SalvarTemplate">Salvar </button>
  </div>
  <% end %>
<% end %>
