<%= form_for(@statusci) do |f| %>
  <% if @statusci.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statusci.errors.count, "error") %> prohibited this statusci from being saved:</h2>

      <ul>
      <% @statusci.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<label>Status</label>
<%= f.text_field :status %>
<div class="spacer"></div>

<label>Icone
<span class="small">Usado na listagem dos ativos</span>
</label>
<%= f.text_field :icon %>
<div class="spacer"></div>


<label>Parametros
<span class="small">Usado no grafico de dependencia </span>
</label>
<%= f.text_field :parametro, :size => 100 %>

<div class="spacer"></div>
</br>
</p>
Atenção: Esses são os status possiveis. Caso queira limitar o status de algum ativo, altere na tela de Parametros
</br>
</p>


<div class="actions">
     <button type="submit" id="SalvarStatusCi">Salvar Status</button>
</div>
<% end %>

<div class="spacer"></div>

