<h1>Status dos Ativos</h1>


<% if (can? :manage, Statusci)  %>
<%= link_to '[Novo Status]', new_statusci_path %>
<% end %>

<table>
  <tr>
    <th>Icone</th>
    <th>Status</th>
    <th>Parametro Grafico Dependencia</th>
    <th></th>
  </tr>

<% @statuscis.each do |statusci| %>
  <tr>
    <td><img src="/icons/<%=statusci.icon%>" alt=" " height="16" width="16"></td>

    <td><%= statusci.status %></td>
    <td><%= statusci.parametro %></td>
    <% if (can? :manage, Statusci)  %>
    <td><%= link_to 'Editar', edit_statusci_path(statusci) %></td>
    <% end %> 
  
  </tr>
<% end %>
</table>

<br />
<% if (can? :manage, Statusci)  %>
<%= link_to '[Novo Status]', new_statusci_path %>
<% end %>