<h1>Status Possiveis dos CIs</h1>

<table>
  <tr>
    <th></th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @statuscis.each do |statusci| %>
  <tr>
    <td><img src="/icons/<%=statusci.icon%>" alt=" " height="16" width="16"></td>

    <td><%= statusci.status %></td>
    <td><%= link_to 'Alterar', edit_statuscis_path(statusci) %></td>
    <td><%= link_to 'Apagar', statusci, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Status', new_statuscis_path %>
