<h1>Status dos Ativos</h1>
<div id="content">
  <div class="panel panel-default">
    <% if (can? :manage, Statusci)  %>
    <div class="panel-heading">
      <%= link_to 'Novo Status', new_statusci_path, class: "btn btn-primary btn-xs" %>
    </div>
    <% end %>
    <table class="generalTable">
      <thead>
        <tr class="head">
          <th>Icone</th>
          <th>Status</th>
          <th>Parametro Grafico Dependencia</th>
          <% if (can? :manage, Statusci)  %>
          <th></th>
          <% end %>
        </tr>
      </thead>
    </tbody>
    <% @statuscis.each do |statusci| %>
    <tr>
      <td><img src="/icons/<%=statusci.icon%>" alt=" " height="16" width="16"></td>
      <td><%= statusci.status %></td>
      <td><%= statusci.parametro %></td>
      <% if (can? :manage, Statusci)  %>
      <td><%= link_to 'Editar', edit_statusci_path(statusci), class: "btn btn-primary btn-xs" %></td>
      <% end %>
      
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<% if (can? :manage, Statusci)  %>
<div class="panel-heading">
  <%= link_to 'Novo Status', new_statusci_path, class: "btn btn-primary btn-xs" %>
</div>
<% end %>
</div>
</div>