<h1>Posiveis Status dos Ativos</h1>

<table>
  <tr>
    <th>Icone</th>
    <th>Status</th>
    <th>Parametro Grafico Dependencia</th>
    <th></th>
  </tr>

<% @statuscis.each do |statusci| %>
  <tr>
    <td><img src="/icons/<%=statusci.icon%>" alt=" " height="16" width="16"></td>

    <td><%= statusci.status %></td>
    <td><%= statusci.parametro %></td>
    <td><%= link_to 'Alterar', edit_statusci_path(statusci) %></td>
  
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Novo Status]', new_statusci_path %>
