<%= javascript_include_tag "jquery" %>
<%= stylesheet_link_tag "DataTables-1.10.5/media/css/jquery.dataTables.min.css" %>
<%= javascript_include_tag "DataTables-1.10.5/media/js/jquery.dataTables.min.js" %>

<%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 100,
      pagingType: "full_numbers",
      language: {
        search: "Filtrar:"
      }      
    })
});
</script>

<h1>De Para</h1>

<table id="coolTable" class="display">
<thead>  
  <tr>
    <th>De</th>
    <th>Para</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @custom_de_paras.each do |custom_de_para| %>
  <tr>
    <td><%= custom_de_para.de %></td>
    <td><%= custom_de_para.para %></td>
    <td><%= custom_de_para.tipo %></td>
    <td><%= link_to 'Show', custom_de_para %></td>
    <td><%= link_to 'Edit', edit_custom_de_para_path(custom_de_para) %></td>
    <td><%= link_to 'Destroy', custom_de_para, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Custom de para', new_custom_de_para_path %>
