<p id="notice"><%= notice %></p>

<p>
  <b>De:</b>
  <%= @custom_de_para.de %>
</p>

<p>
  <b>Para:</b>
  <%= @custom_de_para.para %>
</p>

<p>
  <b>Tipo:</b>
  <%= @custom_de_para.tipo %>
</p>


<%= link_to 'Edit', edit_custom_de_para_path(@custom_de_para) %> |
<%= link_to 'Back', custom_de_paras_path %>
