<h1>Listing view_templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Prefix</th>
    <th>Partial</th>
    <th>Source</th>
    <th>Locale</th>
    <th>Formats</th>
    <th>Handlers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @view_templates.each do |view_template| %>
  <tr>
    <td><%= view_template.name %></td>
    <td><%= view_template.prefix %></td>
    <td><%= view_template.partial %></td>
    <td><%= view_template.source %></td>
    <td><%= view_template.locale %></td>
    <td><%= view_template.formats %></td>
    <td><%= view_template.handlers %></td>
    <td><%= link_to 'Show', view_template %></td>
    <td><%= link_to 'Edit', edit_view_template_path(view_template) %></td>
    <td><%= link_to 'Destroy', view_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New View template', new_view_template_path %>
