<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @view_template.name %>
</p>

<p>
  <b>Prefix:</b>
  <%= @view_template.prefix %>
</p>

<p>
  <b>Partial:</b>
  <%= @view_template.partial %>
</p>

<p>
  <b>Source:</b>
  <%= @view_template.source %>
</p>

<p>
  <b>Locale:</b>
  <%= @view_template.locale %>
</p>

<p>
  <b>Formats:</b>
  <%= @view_template.formats %>
</p>

<p>
  <b>Handlers:</b>
  <%= @view_template.handlers %>
</p>


<%= link_to 'Edit', edit_view_template_path(@view_template) %> |
<%= link_to 'Back', view_templates_path %>
