<p id="notice"><%= notice %></p>

<p>
  <b>Software:</b>
  <%= @software.software %>
</p>

<p>
  <b>Customensal:</b>
  <%= @software.custoMensal %>
</p>

<p>
  <b>Status:</b>
  <%= @software.status %>
</p>


<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>
