<%= form_for(@cadrelatorio) do |f| %>
  <% if @cadrelatorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cadrelatorio.errors.count, "error") %> prohibited this cadrelatorio from being saved:</h2>

      <ul>
      <% @cadrelatorio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  Atenção: evite mudar o nome do relatorio, caso contrario, qualquer URL, consulta via SQL, automação com esse relatorio irá parar de funcionar
  <br/><br/>

  <div class="field">
    <%= f.label :Descricao %><br />
    <%= f.text_field :descricao, :size => 100 %>
  </div>

  

  <div class="field">
    <%= f.label :consulta %><br />
    <%= f.text_area :consulta, :size => "150x30" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
