<%= form_for(@cadrelatorio) do |f| %>
  <% if @cadrelatorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cadrelatorio.errors.count, "error") %> prohibited this cadrelatorio from being saved:</h2>

      <ul>
      <% @cadrelatorio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<label>Nome
<span class="small">Ident unico sem espacos</span>
</label>
<%= f.text_field :nome %>
<div class="spacer"></div>

<label>Descricao
</label>
<%= f.text_field :descricao, :size => 100 %>
<div class="spacer"></div>

<label>Incluir no Painel ?
</label>
<%= f.check_box  :painel %>
<div class="spacer"></div>


<label>Categoria
<span class="small">Palavras para ajudar </span>
<span class="small">no filtro</span>
</label>
<%= f.text_field :categoria, :size => 50   %>
<div class="spacer"></div>

<label>Tipo de CI
<span class="small">Tipo de CI para Email automatico </span>
</label>
<%= f.select :tipoci_id, @tiposci.collect { |c| [ c.tipo, c.id ] } %>

<br>   
<div class="spacer"></div>
Campos especiais: [CI, Email, Descricao]
<div class="field">
  <%= f.text_area :consulta, :size => "150x30" %>
</div>
<div class="spacer1"></div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
