<%= form_for(@cadrelatorio) do |f| %>
  <% if @cadrelatorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cadrelatorio.errors.count, "erro") %> ao salvar esse Realtorio</h2>
      <ul>
      <% @cadrelatorio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<label>Nome
<span class="small">Ident unico sem espacos</span>
</label>
<%= f.text_field :nome , :size => 30, :maxlength => 30 %>
<div class="spacer"></div>

<label>Descricao
</label>
<%= f.text_field :descricao, :size => 100 %>
<div class="spacer"></div>

<label>Dashboard ?
</label>
<%= f.text_field :dashboard, :size => 100 %>
<div class="spacer"></div>

<label>Ordem de apresentacao
</label>
<%= f.text_field :ordem %>
<div class="spacer"></div>


<label>Categoria
<span class="small">Palavras para ajudar </span>
<span class="small">no filtro</span>
</label>
<%= f.text_field :categoria, :size => 50   %>
<div class="spacer"></div>

<label>Tipo de CI
<span class="small">Tipo de CI para Email automatico </span>
</label>
<%= f.select :tipoci_id, @tiposci.collect { |c| [ c.tipo, c.id ] } %>
<br>   
<div class="spacer"></div>
<br>

<label>Justificativa
</label>
<%= f.text_field :justificativa, :size => 50   %>
<div class="spacer"></div>


<label>Solicitante
</label>
<%= f.text_field :solicitante, :size => 50   %>
<div class="spacer"></div>

<br>
<div class="field">
  <%= f.text_area :consulta, :size => "150x30" %>
</div>
<div class="spacer1"></div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
