<h1>Relatorios Disponiveis</h1>

<%= will_paginate @cadrelatorios %>
<%= form_tag(cadrelatorios_path, :method => "get") do %>
 
  <%= text_field_tag(:search, @search, :size => 50) %>
  <%= submit_tag("Filtrar") %>
<% end %>

<table>
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Dashboard</th>
    <th></th>
    <th></th>
  </tr>

<% @cadrelatorios.each do |cadrelatorio| %>
  <tr>
    <td><%= link_to cadrelatorio.nome, relatorio_path(cadrelatorio.nome) %></td>
    <td><%= cadrelatorio.descricao %></td>
    <td><%= cadrelatorio.dashboard %></td>
    <% if can? :manage, @Cadrelatorio %>
    <td><%= link_to 'Alterar', edit_cadrelatorio_path(cadrelatorio) %></td>
    <td><%= link_to 'Apagar', cadrelatorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @cadrelatorios %>

<%= link_to '[Novo Relatorio]', new_cadrelatorio_path unless cannot? :manage, @Cadrelatorio %>
