<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cadrelatorio.nome %>
</p>

<p>
  <b>Consulta:</b>
  <%= @cadrelatorio.consulta %>
</p>


<%= link_to '[Editar]', edit_cadrelatorio_path(@cadrelatorio) %> |
<%= link_to '[Listagem dos relatorio]', cadrelatorios_path %> |
<%= link_to '[Mostrar relatorios]', relatorio_path(@cadrelatorio.nome) %>
