<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cadrelatorio.nome %>
</p>

<p>
  <b>Consulta:</b>
  <%= @cadrelatorio.consulta %>
</p>


<%= link_to 'Alterar	', edit_cadrelatorio_path(@cadrelatorio) %> |
<%= link_to 'Listagem', cadrelatorios_path %> |
<%= link_to 'Relatorio', relatorio_path(@cadrelatorio.nome) %>
