<h4>Entrando no Sistema</h4>
      <% if CONFIG["authentication"]["usuario_senha"] %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
             <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control input-sm chat-input",  placeholder: "email" %>
          </div>

          <div class="field">
            <%= f.label :senha %><br />
            <%= f.password_field :password, autocomplete: "off",  class: "form-control input-sm chat-input",  placeholder: "senha"  %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        <br>
         <div class="actions">
              <button type="submit" class="btn btn-primary btn-md" id="Login">Logar </button>
         </div>
        <% end %>
   
        <br>
      <%= render "devise/shared/links" %>
           <% end %>

<%= render "devise/shared/providers" %>
