<%= form_for(@chamado) do |f| %>
  <% if @chamado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chamado.errors.count, "error") %> prohibited this chamado from being saved:</h2>

      <ul>
      <% @chamado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :SubTipoChamado %><br />
    <%= f.text_field :SubTipoChamado %>
  </div>
  <div class="field">
    <%= f.label :StatusChamado %><br />
    <%= f.text_field :StatusChamado %>
  </div>
  <div class="field">
    <%= f.label :Solicitante %><br />
    <%= f.text_field :Solicitante %>
  </div>
  <div class="field">
    <%= f.label :Userid %><br />
    <%= f.text_field :Userid %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
