<p id="notice"><%= notice %></p>

<p>
  <b>Subtipochamado:</b>
  <%= @chamado.SubTipoChamado %>
</p>

<p>
  <b>Statuschamado:</b>
  <%= @chamado.StatusChamado %>
</p>

<p>
  <b>Solicitante:</b>
  <%= @chamado.Solicitante %>
</p>

<p>
  <b>Userid:</b>
  <%= @chamado.Userid %>
</p>

<p>
  <b>Descricao:</b>
  <%= @chamado.descricao %>
</p>


<%= link_to 'Edit', edit_chamado_path(@chamado) %> |
<%= link_to 'Back', chamados_path %>
