<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @area_de_responsabilidade.area %>
</p>

<p>
  <b>Responsaveis:</b>
  <%= @area_de_responsabilidade.responsaveis %>
</p>


<%= link_to 'Edit', edit_area_de_responsabilidade_path(@area_de_responsabilidade) %> |
<%= link_to 'Back', area_de_responsabilidades_path %>
