<h1>Listing tipotasks</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipotasks.each do |tipotask| %>
  <tr>
    <td><%= tipotask.nome %></td>
    <td><%= link_to 'Show', tipotask %></td>
    <td><%= link_to 'Edit', edit_tipotask_path(tipotask) %></td>
    <td><%= link_to 'Destroy', tipotask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipotask', new_tipotask_path %>
