<p>
<table>
   <tr><th>Checklist: <%= @checklist.descricao %></th></tr>
   <tr><td>  
        Alias: <%= @checklist.alias %>
   </td></tr>
   <tr><td>  
        Tipo Ci: <%= @checklist.tipoci_tipo %>
   </td></tr>
   <tr><td>
        Responsaveis: <%= @checklist.arearesponsabilidade_full  %>
   <td></tr>

    <tr><td>
        Tipo: <%= @checklist.abrir_ticket ? "Abrir Ticket" : "Somente Checklist"  %>
   <td></tr>
</table>	