<script>
    function MyCtrl($scope) {
      $scope.visible = false; 
      $scope.toggle = function() {
        $scope.visible = !$scope.visible;
      };
      $scope.desc = function() {
        $scope.visible = !$scope.visible;
      };
      console.log($scope.desc);
      console.log($scope.desc);
}</script> 
<table>
   <tr><th>Checklist: <%= @checklist.titulo %></th></tr>
   <tr><td>  
        Alias: <%= @checklist.alias %>
   </td></tr>
   <tr><td>
        Responsaveis: <%= @checklist.arearesponsabilidade_full  %>
   </td></tr>

   <tr><td>
        Tipo: <%= @checklist.abrir_ticket ? "Abrir Ticket" : "Somente Checklist"  %>
   </td></tr>

    
   <tr><td>
        Tipo Ci: <%= @checklist.tipoci_tipo %>
   </td></tr>
  
</table>	
<div ng-controller="MyCtrl">
<button class="btn" ng-click="desc()">Descricao</button>

<div ng-show="visible"><%=simple_format(@checklist.descricao)%></div>   
</div>