<p id="notice"><%= notice %></p>

<p>

  <h1><%= @checklist.descricao %></h1>
  
</p>
<p>
  <b>Tipo Ci:</b>
  <%= @checklist.tipoci.tipo %>
</p>
<br>

<p>
  <b>Executores:</b>
  <%= @checklist.users %>
</p>



<%= render :partial => "pais" unless @pais.empty? %>
<%= render :partial => "itens" %>



<%= link_to 'Editar', edit_checklist_path(@checklist) %> |
<%= link_to 'Listagem', checklists_path %> |

