<p id="notice"><%= notice %></p>

<%= render :partial => "checklist" %>
<%= render :partial => "pais" unless @pais.empty? %>
<%= render :partial => "itens", :locals => {:action => :edit } %>



<%= link_to 'Editar', edit_checklist_path(@checklist) %> |
<%= link_to 'Listagem', checklists_path %> |
<%= link_to 'Iniciar Checklist', new_checklist_init_checklist_path(@checklist) %>


