 <!-- <div class="contaiener">  -->

	<div id="content">
		<div class="panel with-nav-tabs panel-primary">
			
			<div class="panel-heading"> <!-- Imprimo os tabs  -->
				<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					<li class="active"><a href="#<%=@tabs[0]%>" data-toggle="tab"><%=@tabs[0]%></a></li>
					<% @tabs[1..-1].each do |t| %>
						<li><a href="#<%=t%>" data-toggle="tab"><%= t%></a></li>
					<% end %>
				</ul>
			</div>
			
			<div class="panel-body">
				<!-- primeiro conteudo, da primeira tab, é o padrao de todo cis -->
				<div id="my-tab-content" class="tab-content">
					<div class="tab-pane itam_cis_panel active" id="<%=@tabs[0]%>">

						<%= render :partial => 'item', :locals => { :title => "Chave", :value => link_to(@ci.chave, @ci) } %>
						<%= render :partial => 'item', :locals => { :title => "Descricao", :value =>  "#{@ci.descricao} (#{@ci.nice_tipoci}) " }%>
						<%= render :partial => 'item', :locals => { :title => "Status", :value =>  @ci.status }%>
						<%= render :partial => 'item', :locals => { :title => "Localidade", :value => @ci.nome_localidade} %>
						<%= render :partial => 'item', :locals => { :title => "Gestor", :value => helper_login_to_url(@ci.Owner)} %>
						<%= render :partial => 'item', :locals => { :title => "Usuario(s)", :value => helper_login_to_url(@ci.notificacao)} %>
						<%= render :partial => 'item', :locals => { :title => "Data Ultimo Change", :value => @ci.dataChange} %>
						<%= render :partial => 'docs2url', :locals => {:title => "Doc. Ultima Mudanca", :documentos => @ci.DocChange } %>
						<%= render :partial => 'item', :locals => { :title => "CC/Proj Debito", :value => "#{@ci.CCDebito}/#{@ci.ProjetoDebito}"  } %>
						<%= render :partial => 'item', :locals => { :title => "CC/Proj Credito", :value => "#{@ci.CCCredito}/#{@ci.ProjetoCredito}"} %>
						<%= render :partial => 'item_2cols', :locals => { :title => ["Custo Capex Mensal","Custo Opex Mensal:"], :value => ["#{@ci.CCCredito}/#{@ci.ProjetoCredito}","xx"]} %>
						
						<%= render :partial => 'item_2cols', :locals => { :title => ["Custo Mensal","Provisionar: "], :value => [
						     "#{number_to_currency(@ci.CustoMensal)}","#{@ci.provisionar ? "Provisionar Mensalmente" : 'Nao Provisionado'}"]} %>
						<%= render :partial => 'item_2cols', :locals => { :title => ["Descricao Cobrança","Codigo de Cobranca"], :value => [@ci.descricaocobranca,@ci.codigocobranca]} %>
						<%= render :partial => 'docs2url', :locals => {:title => "Documentacao", :documentos => @ci.url } %>
						<%= render :partial => 'docs2url', :locals => {:title => "Jira", :documentos => jira_to_docs(@ci.jira) } %>
					</div> <!-- class="tab-pane active" -->

					<!-- o restante das tabs vem dos atributos -->
					<% @tabs[1..-1].each do |t| %>
						<div class="tab-pane itam_cis_panel" id="<%=t%>">
							<% @atributos2.find_all { |x| x[11]==t}.each do |attr| %>
							
								<% if attr[3].blank? || attr[2].blank? %>
									<%= render :partial => 'item', :locals => { :title => attr[1], :value => attr[2]} %>									
								<% else %>
									<%= render :partial => 'docs2url', :locals => {:title => attr[1], :documentos => atributos_to_docs(attr[2],attr[3]) } %>
								<% end %>
							
							<% end %>
						</div> <!-- class="tab-pane" -->
					<% end %> <!-- @tabs[1..-1].each do -->
					
				</div> <!-- class=tab content -->
			</div> <!-- class=panel body -->
		</div> <!-- class=panel -->
	</div> <!-- id=content -->
<!-- </div> <-->
	

<script type="text/javascript">
jQuery(document).ready(function ($) {
$('#tabs').tab();
});
</script>
 