
<%= link_to @ci.chave, @ci %><%= " - #{@ci.descricao} (#{@ci.tipoci.tipo}) "%>
</br>Status: <%= @ci.status%>

</br>Site: <%= @ci.site.nome%>
</br>Owner: <%= @ci.Owner%>
</br>Notificacao: <%= @ci.notificacao%>
</br>Data Ultimo Change: <%= @ci.dataChange%>

<%= render :partial => 'docs2url', :locals => {:title => "[Doc. Ultima Mudanca]", :documentos => @ci.DocChange } %>

<% if @ci.contrato  %>
    </br><a href="javascript: void(0)" onclick="window.open('','').location.href='<%= contrato_path(@ci.contrato) %>'">[Contrato
    ]</a>
<% end %>

</br>Fornecedor: 
<% if @ci.contrato %>
<%= link_to @ci.contrato.fornecedor.nome, fornecedore_path(@ci.contrato.fornecedor) , :target => "_blank" if@ci.contrato.fornecedor   %>
<% end %>

</br>Custo Mensal: <%= number_to_currency(@ci.CustoMensal) %>

<%= render :partial => 'docs2url', :locals => {:title => "Documentacao", :documentos => @ci.url } %>

<%= render :partial => 'docs2url', :locals => {:title => "Jira", :documentos => jira_to_docs(@ci.jira) } %>

<% @atributos ||= [] %>
<% @atributos.map do |dicdado,attr| %>
     <% if attr[2].blank? || attr[1].blank? %>
        </br><%="#{attr[0]} : #{attr[1]}"%>
     <% else %>
        </br><a href="javascript: void(0)" onclick="window.open('','').location.href='<%=attr[2] % attr[1] %>'">
            <%="[#{attr[0]}]" %></a>
     <% end %>
<% end %>



</br>