
<%= link_to @ci.chave, @ci %><%= " - #{@ci.descricao} (#{@ci.nice_tipoci}) "%>
</br>Status: <%= @ci.status%>

</br>Localidade: <%= @ci.nome_localidade%>
</br>Gestor: <%= helper_login_to_url(@ci.Owner)%>
</br>Usuario(s): <%= helper_login_to_url(@ci.notificacao)%>
</br>Data Ultimo Change: <%= @ci.dataChange%>

<%= render :partial => 'docs2url', :locals => {:title => "Doc. Ultima Mudanca: ", :documentos => @ci.DocChange } %>

</br> CC/Proj Debito: <%= "#{@ci.CCDebito}/#{@ci.ProjetoDebito}" %>
</br> CC/Proj Credito: <%= "#{@ci.CCCredito}/#{@ci.ProjetoCredito}" %>
</br> Codigo Rateio: <%= "#{@ci.codigorateio}" %>
</br>Custo Capex Mensal: <%= number_to_currency(@ci.CustoMensalCapex) %> - Custo Opex Mensal: <%= number_to_currency(@ci.CustoMensalOpex) %>


</br>Custo Mensal: <%= number_to_currency(@ci.CustoMensal) %>
- <%= @ci.nice_cobrar %>
- <%= @ci.provisionar ? "Provisionar Mensalmente" : 'Nao Provisionado' %>
<%= render :partial => 'docs2url', :locals => {:title => "Documentacao: ", :documentos => @ci.url } %>

<%= render :partial => 'docs2url', :locals => {:title => "Jira", :documentos => jira_to_docs(@ci.jira) } %>

<% @atributos ||= [] %>
<% @atributos.map do |dicdado,attr| %>
     <% if attr[2].blank? || attr[1].blank? %>
        </br><%="#{attr[0]} : #{attr[1]}"%>
     <% else %>
        <%= render :partial => 'docs2url', :locals => {:title => attr[0], :documentos => atributos_to_docs(attr[1],attr[2]) } %>
     <% end %>
<% end %>

<!--     </br><a href="javascript: void(0)" onclick="window.open('','').location.href='<!--%=attr[2] % attr[1] %>'">
            <!%="[#{attr[0]}]" %></a>
 -->


<!-- 
attr[0] = Nome
attr[1] = valor
attr[2] = URL
attr[3] = Valores (combobos)
attr[4] = descricao
attr[5] = apelido
attr[6] = regex
attr[7] = Mandatorio
 -->



</br>

<!--
URL
Texto
Checkbox
Dropbox
Date

-->