
<%= link_to @ci.chave, @ci %><%= " - #{@ci.descricao} (#{@ci.tipoci.tipo}) "%>

</br>Site: <%= @ci.site.nome%>
</br>Owner: <%= @ci.Owner%>
</br>Data Ultimo Change: <%= @ci.dataChange%>
<% if ! @ci.DocChange.blank?  %>
    </br><a href="javascript: void(0)" onclick="window.open('','').location.href='<%= @ci.DocChange %>'">[Doc. Ultima Mudanca]</a>
    
<% end %>



<% if ! @ci.url.blank?	%>
    </br><a href="javascript: void(0)" onclick="window.open('','').location.href='<%= @ci.url %>'">[Documentacao]</a>
<% end %>


</br>Jira:<% @ci.jira_to_url.each do|url| %>
     <% if ! url[0].blank? %>
         <a href="javascript: void(0)" onclick="window.open('','').location.href='<%=url[1]%>'">[<%=url[0]%>]</a>
     <% end %>
<% end %> 


<% @atributos ||= [] %>
<% @atributos.map do |dicdado,attr| %>
     <!--  se campo URL nao conter nada ou se valor do atributo nao conter nada, so imprimo nome do atributo -->
     <% if attr[2].blank? || attr[1].blank? %>
        </br><%="#{attr[0]} : #{attr[1]}"%>
     <% else %>
        </br><a href="javascript: void(0)" onclick="window.open('','').location.href='<%=attr[2] % attr[1] %>'">
            <%="[#{attr[0]}]" %></a>
     <% end %>
<% end %>
</br>