<%= link_to("Impactados", impactados_path(@ci), :class => "btn btn-primary btn-xs margin-botton")%>
<%= link_to("Dependentes", dependentes_path(@ci), :class => "btn btn-primary btn-xs margin-botton")%>
<%= link_to("Dependentes/Composto de", dependentes_all_path(@ci), :class => "btn btn-primary btn-xs margin-botton")%>

<% if @imagem_dependentes  then %> 
    <a href="/imagens/<%=@ci.chave_sanitizada%>-dependentes.svg" class="btn btn-primary btn-xs margin-botton" onclick="window.open(this.href,'','height=600,width=900');return false";>Grafico Dependentes</a>
<% end %>

<% if @imagem_dependentes_all then %> 
    <a href="/imagens/<%=@ci.chave_sanitizada%>-dependentes_all.svg" class="btn btn-primary btn-xs margin-botton" onclick="window.open(this.href,'','height=600,width=900');return false";>Grafico Dependentes/Composto de</a>
<% end %>

<% if @imagem_impactados then %> 
    <a href="/imagens/<%=@ci.chave_sanitizada%>-impactados.svg" class="btn btn-primary btn-xs margin-botton" onclick="window.open(this.href,'','height=600,width=900');return false";>Grafico Impactados</a>
<% end %>

<% if @email_impactados then %>
   <a href="mailto:?bcc=<%=@email_impactados%>&subject=Alerta - <%=@ci.chave%>" class="btn btn-primary btn-xs margin-botton" onclick="window.open(this.href,'');return false";\>Email Impactados/Dependentes/Notificacao</a> 
<% end %>
</br>
<%= link_to "Adiciona Dependente", novo_dependente_path(@ci), :remote => true, :id => "novo_dependente" , :class => "btn btn-primary btn-xs margin-botton"%>
<%= link_to "Adiciona Impactado", novo_impactado_path(@ci), :remote => true, :id => "novo_impactado", :class => "btn btn-primary btn-xs margin-botton" %>
<%= link_to "Elimina dependente" , elimina_dependente_path(@ci), :remote => true, :id => "elimina_dependente", :class => "btn btn-primary btn-xs margin-botton"%>
<%= link_to "Elimina impactado" , elimina_impactado_path(@ci), :remote => true, :id => "elimina_impactado", :class => "btn btn-primary btn-xs margin-botton"%>
<%= link_to "Duplicar esse CI" , duplicar_ci_path(@ci), :remote => true, :id => "duplicar_ci", :class => "btn btn-primary btn-xs margin-botton"%>
</br>

<% if Features.has? "alertas" %> 
<%= link_to "Abrir Alerta", tasks_new_from_ci_path(@ci) , :target => '_blank', :class => "btn btn-primary btn-xs margin-botton" %>
<a href="<%='/tasks?&search=@CI='+@ci.chave%>" class="btn btn-primary btn-xs margin-botton">Alertas deste CI</a>
<a href="<%='/tasks?&search='+@ci.chave%>" class="btn btn-primary btn-xs margin-botton">Alertas com este CI</a>
<% end %>

<% if can? :manage, Audit %>
   <a href="<%='/audits?&search=(@tipoci=ci @onde='+@ci.id.to_s+') | (@tipoci=atributo @relacionado='+@ci.id.to_s+')'%>" class="btn btn-primary btn-xs margin-botton" >Auditoria deste CI</a>
<% end %>
<div id="enviar_email_ci_old"></div>

