<%= form_for(@ci) do |f| %>
  <% if @ci.errors.any? %>
    <div id="error_explanation">
      <h1><%= "#{@ci.errors.count} Erro(s) ao tentar registrar esse item:" %></h1>

      <ul>
      <% @ci.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p></p>

<label>CI
<span class="small">Defina uma chave única</span>
</label>
<%= f.text_field :chave , :size => 20, :id => "chave_ci"%>

<label>Owner
<span class="small">Login de rede do Owner </span>
</label>
<%= f.text_field :Owner %>

<label>Notificacao
<span class="small">Email ou login</span>
</label>
<%= f.text_field :notificacao %>

<div class="spacer"></div>
<label>Descrição
<span class="small">Descriçao desse CI</span>
</label>
<%= f.text_field :descricao %>

<label>Change Mgmt
<span class="small">Data Ultima Mudança</span>
</label>
<%= f.text_field :dataChange, :id => "datepicker" %>

<div class="spacer"></div>


<label>Custo Mensal
<span class="small"></span>
</label>
<%= f.text_field :CustoMensal %>
  

<label>Descricao Cobranca
<span class="small"></span>
</label>
<%= f.text_field :descricaocobranca %>

<label>Codigo Cobranca
<span class="small"></span>
</label>
<%= f.text_field :codigocobranca %>


<div class="spacer"></div>

<label>CC Debito
<span class="small"></span>
</label>
<%= f.text_field :CCDebito %>
<label>Projeto Debito
<span class="small"></span>
</label>
<%= f.text_field :ProjetoDebito %>
<label>Cobrar ?
<span class="small">Incluir na cobranca mensal ? </span>
</label>
<div class="field">
    <%= f.check_box :cobrar %>
</div>




<div class="spacer"></div>

<label>CC Credito
<span class="small"></span>
</label>
<%= f.text_field :CCCredito %>
<label>Projeto Credito
<span class="small"></span>
</label>
<%= f.text_field :ProjetoCredito %>


<label>Provisionar ?
<span class="small">Incluir na provisao mensal ? </span>
</label>
<div class="field">
    <%= f.check_box :provisionar %>
</div>

<div class="spacer"></div>

<label>Doc Change Mgmt
<span class="small">URL para Doc da Ultima Mudança</span>
</label>
<%= f.text_field :DocChange, :size => 70 %>

<div class="spacer"></div>


<label>Site
<span class="small">É global ou de um site</span>
</label>
<%= f.select :site_id, @sites.collect { |c| [ c.nome, c.id ] } %>


<label>Tipo de CI
<span class="small">Defina o tipo para este CI </span>
</label>
<%= f.select :tipoci_id, @tiposci.collect { |c| [ c.tipo, c.id ] } %>

<label>Status
<span class="small">Status desse CI </span>
</label>
<%= f.select :statusci_id, @statusci.collect { |c| [ c.status, c.id ] } %>

<div class="spacer"></div>
<p></p>



<div class="spacer"></div>
<label>Documentacao
<span class="small">URL completa para o google docs ou Jira</span>
</label>
<%= f.text_field :url , :size => 70%>

<div class="spacer"></div>
<label>Jira	
<span class="small">Lista de chamados no Jira</span>
<span class="small">Ex: INFR-1231,INFRA-3124</span>
</label>
<%= f.text_field :jira, :size => 70 %>

<% @atributos ||= [] %>
<% @atributos.map do |dicdado,attr| %>
  <!-- attr[0] nome e attr[1] - valor -->
    <div class="spacer"></div>
    <label><%= attr[0] %>
    <span class="small"><%= attr[4]%></span>
  </label>
  
  <% if ! attr[3].blank? %>
         <!--se tem valores predefinidos, monto combobox , senao input normal-->
         <select name="atributos[<%= attr[0]%>]">
              <%= helper_gen_combobox(attr[3],attr[1]).html_safe %>
         </select> 
  <% elsif attr[6] && attr[6]=="checkbox" %>
        <input name="atributos[<%= attr[0]%>]" 
           type="checkbox"  
           value="<%=attr[1]%>" 
           <%= "checked" if attr[1]=="1" %> />
  <% elsif attr[6] && attr[6]=="data" %>
       <input name="atributos[<%= attr[0]%>]"
          class="datepick"
          value="<%=attr[1]%>" />

  <% else %>
        <input name="atributos[<%= attr[0]%>]" 
           size="50" 
           type="text" 
           <%= attr[8] ? "required" : "" %> 
           pattern="<%= attr[7].blank? ? "[\\s\\S]+" : attr[7] %>" 
           value="<%=attr[1]%>" />
           <%= attr[8] ? "Mandatorio" : "" %>
  <% end %>
<% end %>
<!-- 
attr[0] = Nome
attr[1] = valor
attr[2] = URL
attr[3] = Valores (combobos)
attr[4] = descricao
attr[5] = apelido
attr[6] = tipo
attr[7] = regex
attr[8] = Mandatorio
 -->

<% if @oldci.to_s != "" then %>
<div class="spacer1"></div>
						
<%= select_tag(:dependencia,options_for_select( [
	                    ["Nenhuma correlacao com  #{@oldci.chave} - #{@oldci.descricao}", 1], 
					    ["Depende de #{@oldci.chave} - #{@oldci.descricao}", 2], 								       		
						["Impacta #{@oldci.chave} - #{@oldci.descricao}", 3]],1)) %>
<% end %>

<div class="spacer10"></div>  

<button type="submit" id="SalvarCI">Salvar Item</button>
<div class="spacer"></div>

<!--div class="spacer"></div>	
<div class="actions">
    <%= f.submit %>
</div-->
<% end %>
