<%= form_for(@ci) do |f| %>
  <% if @ci.errors.any? %>
    <div id="error_explanation">
      <h1><%= "#{@ci.errors.count} Erro(s) ao tentar registrar esse item:" %></h1>

      <ul>
      <% @ci.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p></p>

<label>CI
<span class="small">Defina uma chave única</span>
</label>
<%= f.text_field :chave , :size => 20, :id => "chave_ci"%>

<label>Gestor
<span class="small">Login de rede do Gestor </span>
</label>
<!--%= f.text_field :Owner  %-->

    <div>
      <%= f.text_field :Owner %>
      <div id="dropbox-gestor-container" style="position:absolute; width: 50px;"></div>
    </div>

<label>Usuario(s)
<span class="small">Email ou login dos usuarios</span>
</label>
<%= f.text_field :notificacao %>

<div class="spacer"></div>
<label>Descrição
<span class="small">Descriçao desse CI</span>
</label>
<%= f.text_field :descricao %> 

<label>Change Mgmt
<span class="small">Data Ultima Mudança</span>
</label>
<%= f.text_field :dataChange, :id => "datepicker" %>

<label>Codigo Rateio
<span class="small"></span>
</label>
<%= f.text_field :codigorateio ,:disabled => ! (can? :manage, CanHelperFinanceiro) %>

<div class="spacer"></div>


<label>Custo
<span class="small">Mensal ou Anual</span>
</label>
<%= f.text_field :CustoMensal ,:disabled => ! (can? :manage, CanHelperFinanceiro)  %>

<label>Custo Mensal Capex
<span class="small"></span>
</label>
<%= f.text_field :CustoMensalCapex ,:disabled => ! (can? :manage, CanHelperFinanceiro)%>

<label>Custo Mensal Opex
<span class="small"></span>
</label>
<%= f.text_field :CustoMensalOpex ,:disabled => ! (can? :manage, CanHelperFinanceiro)%>

<div class="spacer"></div>

  

<label>Descricao Cobranca
<span class="small"></span>
</label>
<%= f.text_field :descricaocobranca, :disabled => ! (can? :manage, CanHelperFinanceiroTi)  %>

<label>Codigo Cobranca
<span class="small"></span>
</label>
<%= f.text_field :codigocobranca, :disabled => ! (can? :manage, CanHelperFinanceiroTi) %>
<% 
   puts "**********************"
   puts can? :manage, CanHelperFinanceiro
   puts can? :manage, Audit
   puts can? :manage, Scheduler

   puts "**********************"
   %>


<label>Cobrar ?
<span class="small">Incluir na cobranca mensal ? </span>
</label>
<div class="field">
    <%= f.select :tipoCobranca, Ci.tipoCobrancas, {}, :disabled => ! (can? :manage, CanHelperFinanceiroTi)  %>
    <!-- <%= f.check_box :cobrar %> -->
</div>


<div class="spacer"></div>


<label>CC Debito
<span class="small"></span>
</label>
<%= f.text_field :CCDebito %>
<label>Projeto Debito
<span class="small"></span>
</label>
<%= f.text_field :ProjetoDebito %>




<div class="spacer"></div>

<label>CC Credito
<span class="small"></span>
</label>
<%= f.text_field :CCCredito %>
<label>Projeto Credito
<span class="small"></span>
</label>
<%= f.text_field :ProjetoCredito %>


<label>Provisionar ?
<span class="small">Incluir na provisao mensal ? </span>
</label>
<div class="field">
    <%= f.check_box :provisionar, :disabled => ! (can? :manage, CanHelperFinanceiroTi)  %>
</div>

<div class="spacer"></div>

<label>Doc Change Mgmt
<span class="small">URL para Doc da Ultima Mudança</span>
</label>
<%= f.text_field :DocChange, :size => 70 %>

<div class="spacer"></div>


<label>Localidade
<span class="small">É global ou de um site ?</span>
</label>
<%= f.select :site_id, @sites.collect { |c| [ c.nome, c.id ] } %>


<label>Tipo de CI
<span class="small">Defina o tipo para este CI </span>
</label>
<%= f.select :tipoci_id, @tiposci.collect { |c| [ c.tipo, c.id ] } %>

<label>Status
<span class="small">Status desse CI </span>
</label>
<%= f.select :statusci_id, @statusci.collect { |c| [ c.status, c.id ] } %>

<div class="spacer"></div>
<p></p>



<div class="spacer"></div>
<label>Documentacao
<span class="small">URL completa para o google docs ou Jira</span>
</label>
<%= f.text_field :url , :size => 70%>

<div class="spacer"></div>
<label>Jira 
<span class="small">Lista de chamados no Jira</span>
<span class="small">Ex: INFR-1231,INFRA-3124</span>
</label>
<%= f.text_field :jira, :size => 70 %>

<%= render :partial => 'edit_atributos' %>


<% if @oldci.to_s != "" then %>
<div class="spacer1"></div>
            
<%= select_tag(:dependencia,options_for_select( [
            ["Nenhuma correlacao com  #{@oldci.chave} - #{@oldci.descricao}", 1], 
            ["Depende de #{@oldci.chave} - #{@oldci.descricao}", 2],                          
            ["Impacta #{@oldci.chave} - #{@oldci.descricao}", 3]],1)) %>
<% end %>

<div class="spacer10"></div>  

<button type="submit" id="SalvarCI">Salvar Item</button>
<div class="spacer"></div>

<!--div class="spacer"></div> 
<div class="actions">
    <%= f.submit %>
</div-->
<% end %>
