<% [:info, :error].each do |key| %>
   <% if flash[key] %>
   <div class="flash <%= key %>" id="flash">
     <%= flash[key] %>
   </div>
   <% end %>
 <% end %>
<div id="stylized" class="myform">

<h1>Se voce deseja realmente apagar em definitivo o CI baixo, digite ELIMINAR<%=@ci.id%></h1>

<br>


<%= form_tag(eliminar_ci_path, :method => "post") do %>
 
  <%= text_field_tag("Digite ELIMINAR", @confirmacao, :size => 50) %>
  <%= hidden_field_tag 'token_confirmacao','ELIMINAR'+@ci.id.to_s%>
  <%= hidden_field_tag 'idci', @ci.id%>
  <%= submit_tag("Eliminar") %>
<% end %>

</br>

</br>
</br>

</div>
</br>	
<div id="stylized" class="myform">
	<%= render :partial => "form" %>
</div>



</div>