
<%= render :partial => "menu_top"%>

</br></br>

<div id="stylized" class="myform">
<%= render :partial => "form" %>
<%= render :partial => "menu_ci"%>
</div>

</br>
<div id="stylized" class="myform">

<% @fila_resultado.each do |ci| %>
  <% if ci[0].to_s=="ci" then %>
     </br>
     <h1><%= "#{ci[1]["tipoci"]} "%><%= link_to ci[1]["chave"], ci_path(ci[1]["id"]) %> <%= " - #{ci[1]["descricao"]} - #{ci[1]["Owner"]}" %></h1>
  <% end %>
  <% if ci[0].to_s=="subci" then %>
     
     &nbsp;&nbsp;&nbsp;Impacta<%= " #{ci[1]["tipoci"]} " %>&nbsp;<%= link_to ci[1]["chave"], ci_path(ci[1]["id"]) %> <%= " - #{ci[1]["descricao"]} - #{ci[1]["Owner"]}" %>
     <font color="red"><%= " - #{ci[1]["status"]}" if ci[1]["status"] != "ATIVO" %></font>
    
    <% if ci[1]["dataChange"] and ci[1]["dataChange"].to_time >= 7.days.ago %>
       <font color="red">
     <% end %> 
     <%= "- #{ci[1]["dataChange"]}"  %></font>
     
     </br>
  <% end %>

<% end %>
</div>
