

<!-- <%= csrf_meta_tag %> -->
<script type="text/javascript">
$(document).ready( function(){
    $('#coolTable').DataTable({
      pageLength: 10,
      pagingType: "full_numbers",
      language: { 
          search: "Filtrar:" ,
          infoFiltered: "(Total de _MAX_ registros)",
          info:   "Mostrando do registro _START_ até _END_ de um total de  _TOTAL_ filtrados",
          "lengthMenu":     "Mostrar _MENU_ registros",
          "paginate": {
              "first":      "Primeira",
              "last":       "Última",
              "next":       "Próxima",
              "previous":   "Anterior"
          },
          "infoEmpty":      "Mostrando do registro 0 até 0 de um total de 0 registros",
          "zeroRecords":    "Nenhum registro achado",
          }   

      
    })
});
</script>

<% title "GAM. Ativo: #{@ci.chave}" %>
<div class="panel panel-default">
  <div class="panel-body">

     <%= form_tag(cis_path, :method => "get") do %>
        <%= text_field_tag(:search, @search, :size => 50) %>
        <%= submit_tag("Procurar", class: "btn btn-primary btn-xs") %>
     <% end %>

  <div class="panel-body">
  <%= render :partial => "menu_top"%>
  </div>

  </br>
  <%= render :partial => "form" %>



  </br>

  </div> <!-- panel-body -->
</div> <!-- panel panel-default -->

<div class="container" >
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Comentários</h1>
  </div>
  <div class="panel-body">

    <%= form_tag(register_log_path, :method => "post") do %>
        <div class="row">
          
          <div class="form-group col-xs-2"%>
            <label>Data Evento</label>
            <%= text_field_tag :data, Time.now(), :id => "datepicker", class: "form-control"%>
          </div>  <!-- form-group -->
          
          <div class="form-group col-xs-8"%>
            <label>Comentario</label>
            <%= text_field_tag :historico, "",  :size => "100", class: "form-control", placeholder: "Descreva o evento" %>
          </div> 
        </div> <!-- row -->
        
          <button class="btn btn-primary btn-md" type="submit"> Salvar Comentario </button>
          <a id="Cancelar" class="btn btn-danger btn-md margin-left" href="/cis">Cancelar</a>


    <% end %>  <!-- form  -->

  </div> <!-- panel-body -->
</div> <!-- panel panel-default -->



<table id="coolTable" data-order='[[ 0, "desc" ]]' class="display itam_log_cis_table" >
<thead>
  <tr>
    <th>Quando</th>
   
    <th>Userid</th>
    <th>Comentario</th>
    <th>Registrado em</th>
  </tr>
</thead>
<tbody style="font-size: 12px">
<% @logs.each do |log| %>
  <tr>
   
    <td><%= log.data.in_time_zone("Brasilia").strftime("%Y/%m/%d - %H:%M") %></td>
    <td><%= log.userid %></td> 
    <td><%= log.historico %></td>
    <td><%= log.created_at.in_time_zone("Brasilia").strftime("%Y/%m/%d - %H:%M") %></td>
  </tr>
<% end %>
</tbody>
</table>

<style>

</div>
<br />
</div>
</div>




