<% title "GAM. Ativo: #{@ci.chave}" %>
<div class="panel panel-default">
	<div class="panel-body">

  <%= form_tag(cis_path, :method => "get") do %>
     <%= text_field_tag(:search, @search, :size => 50) %>
    <%= submit_tag("Procurar", class: "btn btn-primary btn-xs") %>
    
  <% end %>

  <div class="panel-body">
  <%= render :partial => "menu_top"%>
  </div>

  <%= render :partial => 'edges', :locals => {:title => "Impactados", :cis => @ci.impactados } %>

  </br>
  <%= render :partial => "form" %>
  <%= render :partial => "menu_ci"%>

  </br>
  <%= render :partial => "edges", :locals => {:title => "Dependentes",  :cis => @ci.dependentes } %>
  </br>

  </br>

  </div> <!-- panel-body -->
</div> <!-- panel panel-default -->



