<h1>Tipos de Ativos</h1>

<%= link_to '[Novo Tipo]', new_tipoci_path %>

<table>
  <tr>
    <th>Tipo</th>
    <th>Descricao</th>
    <th>Owner</th>
    <th>Perfis Autorizados</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipocis.each do |tipoci| %>
  <tr>
    <td><%= tipoci.tipo %></td>
    <td><%= tipoci.Descricao %></td>
    <td><%= tipoci.Owner%></td>
    <td><%= tipoci.perfil%></td>
    <td><%= link_to 'Editar', edit_tipoci_path(tipoci) %></td>
    <td><%= link_to 'Apagar', tipoci, method: :delete, data: { confirm: 'Voce tem certeza ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Novo Tipo]', new_tipoci_path %>
