<h1>Tipos de Ativos</h1>

<%= link_to '[Novo Tipo]', new_tipoci_path if (can? :manage, Tipoci) %>

<table>
  <tr>
    <th>Tipo</th>
    <th>Descricao</th>
    <th>Owner</th>
    <th>Perfis Autorizados</th>
    <th></th>

    <% if (can? :manage, Tipoci)  %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @tipocis.each do |tipoci| %>
  <tr>
    <td><%= link_to tipoci.tipo , tipoci_path(tipoci)%></td>
    <td><%= tipoci.Descricao %></td>
    <td><%= tipoci.Owner%></td>
    <td><%= tipoci.perfil%></td>
       <% if (can? :manage, Tipoci)  %>
    <td><%= link_to 'Editar', edit_tipoci_path(tipoci) %></td>
    <td><%= link_to 'Apagar', tipoci, method: :delete, data: { confirm: 'Voce tem certeza ?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Novo Tipo]', new_tipoci_path if (can? :manage, Tipoci) %>
