<div id="stylized" class="myform">

<p id="notice"><%= notice %></p>

<table>
  <col width="130">
<tr><td>Tipo de Ativo:</td><td><b><%= @dicdado.nice_tipoci %></b></td></tr>
<tr><td>Campo:</td><td><b> <%= @dicdado.nome %></b></td></tr>
<tr><td>Apelido:</td><td><b><%= @dicdado.apelido %></b></td></tr>
<tr><td>Descricao:</td><td><b><%= @dicdado.descricao %></b></td></tr>
<tr><td>Valores:</td><td><b><%= @dicdado.valores %></b></td></tr>
<tr><td>Ordem de Apresentacao</td><td><b><%= @dicdado.ordem %></b></td></tr>
<tr><td>regex:</td><td><b><%= @dicdado.regex %></b></td></tr>
<tr><td>É Mandatorio:</td><td><b><%= @dicdado.mandatorio ? "Sim" : "Nao" %></b></td></tr>
<tr><td>URL:</td><td><b><%= @dicdado.url %></b></td></tr>
<tr><td>Ajuda:</td><td><b><%= @dicdado.tooltip %></b></td></tr>
<tr><td>Comentario Interno:</td><td><b><%= @dicdado.comentarios %></b></td></tr>
<table>

<% if (can? :manage, Dicdado)  %>
<%= link_to '[Editar]', edit_dicdado_path(@dicdado) %> |
<%= link_to '[Novo]', new_dicdado_path %> |
<% end %>
<%= link_to '[Listagem]', dicdados_path %>

</div>
