<p id="notice"><%= notice %></p>


<p>
  <b>Tipo CI:</b>
  <%= @dicdado.nice_tipoci %>
</p>

<p>
  <b>Campo:</b>
  <%= @dicdado.nome %>
</p>

<p>
  <b>Apelido:</b>
  <%= @dicdado.apelido %>
</p>

<p>
  <b>Descricao</b>
  <%= @dicdado.descricao %>
</p>

<p>
  <b>Valores</b>
  <%= @dicdado.valores %>
</p>

<p>
  <b>Ordem:</b>
  <%= @dicdado.ordem %>
</p>

<p>
  <b>regex:</b>
  <%= @dicdado.regex %>
</p>

<p>
  <b>Mandatorio</b>
  <%= @dicdado.mandatorio ? "Sim" : "Nao" %>
</p>

<p>
  <b>URL:</b>
  <%= @dicdado.url %>
</p>

<%= link_to 'Editar', edit_dicdado_path(@dicdado) %> |
<%= link_to 'Novo', new_dicdado_path %> |
<%= link_to 'Listagem', dicdados_path %>
