<%= form_for(@funcionario) do |f| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "erro") %> ao tentar salver os atributos do funcionario </h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<label>Cipa ?
<span class="small">Integrante da Cipa? </span>
</label>
<div class="field">
    <%= f.check_box :cipa %>
</div>

<div class="spacer"></div>


<label>Brigadista ?
<span class="small">É brigadista? </span>
</label>
<div class="field">
    <%= f.check_box :brigadista %>
</div>

<div class="spacer"></div>

<label>Sem Estacao ?
<span class="small">Esse usuario nao usa estação da Empresa? </span>
</label>
<div class="field">
    <%= f.check_box :semEstacao %>
</div>


<div class="spacer"></div>

<label>É externo e possui ramal ?

</label>
<div class="field">
    <%= f.check_box :ramalSendoExterno %>
</div>

<div class="spacer"></div>


<% @attrs.each do |attr| %>
  <label><%= attr[1] %>?
  </label>
  <div class="field">
<!--    <input name="funcionario[<%= attr[0]%>]" type="hidden" value="0" />   
   <input id="funcionario_<%= attr[0]%>" name="funcionario[<%= attr[0]%>]" type="checkbox" value="<%= attr[2] ? 1 : 0 %>" <%= "checked" if attr[2] %> />
 -->  
   <div class="field">
    <%= f.check_box(attr[0]) %>
</div>

  </div>
  <div class="spacer"></div>
<% end %>

<div class="spacer"></div>


<label>
<span class="small">Observacao</span>
</label>
<%= f.text_field :observacao, :size => 70 %>


<div class="spacer"></div>

<label>Justificativa para Externo com Ramal ou Office ?

</label>
<div class="field">
    <%= f.text_field :justificativaExtComOffice365, :size => 70 %>
</div>
<div class="spacer"></div>
<label>Login Bloqueado ?
<div class="spacer"></div>
</label>
<div class="field">
  <% if can? :admin, :all  %>
       <%= f.check_box :loginBloqueado %>
   <% else %>
       <%= f.check_box :loginBloqueado, :disabled => "disabled" %>
    <% end %>
</div>
<div class="spacer"></div>

<label>Justificativa para Login Bloqueado ?

</label>
<div class="field">
    <% if can? :admin, :all  %>
      <%= f.text_field :justificativaLoginBloqueado, :size => 70   %>
    <% else %>
      <%= f.text_field :justificativaLoginBloqueado, :size => 70 , :readonly => "true"  %>
    <% end %>
</div>

<div class="spacer"></div>


<div class="actions">
    
<button type="submit" id="SalvarAtributos">Salvar Atributos</button>
</div>
<div class="spacer"></div>
<% end %>
