<div id="stylized" class="myform">
<h1>Equipe e Gestores</h1>


Gestores
<table>
  <tr>
    <th>Login</th>
    <th>Nome</th>
    <th>Ramal</th>
    <th>Identidades</th>
    <th>Atributos Especiais</th>
   
  </tr>

<% @gestores.reverse_each do |funcionario| %>
  <tr>
        <td><%= link_to funcionario[0], equipe_path(funcionario[0])  %></td> 
    <td><%= link_to funcionario[1], "/GestaoUsuarios?search=#{funcionario[0]}", :target => "_blank"  %></td>
    <td><%= ramal_to_sip(funcionario[3]).html_safe %>
    <td><%= link_to 'Identidades', identities_path(funcionario[0]), :target => "_blank" %></td>
    <td><%= link_to 'Atributos Especiais', funcionario_path(funcionario[0]), :target => "_blank" %></td>
  </tr>
<% end %>
</table>


Equipe
<table>
  <tr>
    <th>Login</th>
    <th>Nome</th>
   <th>Ramal</th>
    <th>Identidades</th>
    <th>Atributos Especiais</th>
  </tr>

<% @equipe.each do |funcionario| %>
  <tr>
    <td><%= link_to funcionario[0], equipe_path(funcionario[0])  %></td> 
    <td><%= link_to funcionario[1], "/GestaoUsuarios?search=#{funcionario[0]}", :target => "_blank"  %></td>
    <td><%= ramal_to_sip(funcionario[2]).html_safe %></td>
    <td><%= link_to 'Identidades', identities_path(funcionario[0]), :target => "_blank" %></td>
    <td><%= link_to 'Atributos Especiais', funcionario_path(funcionario[0]), :target => "_blank" %></td>
  </tr>
<% end %>
</table>

<style>
#sampleDiv{
  width: 80%;
  word-wrap:break-word;
}
</style>

Logins:
<div id="sampleDiv">

<%= @logins %>
</div>
<br />
</div>
