<div id="stylized" class="myform">
<p id="notice"><%= notice %><br>

<b>Login: </b><%= @funcionario.Login %>
<br>
<b>Matricula: </b><%= @funcionario.Matricula %>
<br>
<b>Nome: </b><%= @funcionario.Nome %>
<br>
<b>Cipa: </b><%= @funcionario.cipa ? "Sim" : "Nao" %>
<br>
<b>Brigadista: </b><%= @funcionario.brigadista ? "Sim" : "Nao" %>
<br>
<b>Sem Estacao: </b><%= @funcionario.semEstacao ? "Sim" : "Nao" %>
<br>
<b>Afastado: </b><%= @funcionario.afastado ? "Sim" : "Nao" %>
<br>
<b>Data Inicio Afastamento: </b><%= @funcionario.DataInicioAfastamento  %>
<br>
<b>Data Final Afastamento: </b><%= @funcionario.DataFinalAfastamento  %>
<br>
<b>Observacao: </b><b><%= @funcionario.observacao%> </b> 
<br>
<b>Tem Ramal sendo externo: </b><%= @funcionario.ramalSendoExterno ? "Sim" : "Nao" %>
<br> 
<b>Justificativa para Externo ter Office365 ou Ramal: </b> <%= @funcionario.justificativaExtComOffice365%> 
<br>
<b>Login Bloqueado: </b><%= @funcionario.loginBloqueado ? "Sim" : "Nao" %>
<br> 
<b>Justificativa para Login Bloqueado: </b> <%= @funcionario.justificativaLoginBloqueado%> 
<br>

<% @attrs.each do |attr| %>
<b><%= attr[1] %> : </b><%= attr[2] ? "Sim" : "Nao" %>
<br>
<% end %>


</div>
  
<%= link_to '[Listagem]', funcionarios_path %> |
<%= link_to '[Editar]', edit_funcionario_path(@funcionario) %>
