<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @funcionario.Login %>
</p>

<p>
  <b>Matricula:</b>
  <%= @funcionario.Matricula %>
</p>

<p>
  <b>Nome:</b>
  <%= @funcionario.Nome %>
</p>

<p>
  <b>Cipa:</b>
  <%= @funcionario.cipa ? "Sim" : "Nao" %>
</p>

<p>
  <b>Brigadista:</b>
  <%= @funcionario.brigadista ? "Sim" : "Nao" %>
</p>

<p>
  <b>Sem Estacao:</b>
  <%= @funcionario.semEstacao ? "Sim" : "Nao" %>
</p>


<p>
  <b>Afastado:</b>
  <%= @funcionario.afastado ? "Sim" : "Nao" %>
</p>

<p>
  <b>Data Inicio Afastamento:</b>
  <%= @funcionario.DataInicioAfastamento  %>
</p>

<p>
  <b>Data Final Afastamento:</b>
  <%= @funcionario.DataFinalAfastamento  %>
</p>



<p>
  <b>Observacao:</b>
  
  <b><%= @funcionario.observacao%> </b> 
</p>

<p>
  <b>Tem Ramal sendo externo:</b>
  <%= @funcionario.ramalSendoExterno ? "Sim" : "Nao" %>
</p>


<% @attrs.each do |attr| %>
<p>
  <b><%= attr[1] %> : </b>
  <%= attr[2] ? "Sim" : "Nao" %>

<% end %>

<p>

  
<%= link_to 'Volta', funcionarios_path %>
