<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @funcionario.Login %>
</p>

<p>
  <b>Matricula:</b>
  <%= @funcionario.Matricula %>
</p>

<p>
  <b>Nome:</b>
  <%= @funcionario.Nome %>
</p>

<p>
  <b>Cipa:</b>
  <%= @funcionario.cipa ? "Sim" : "Nao" %>
</p>

<p>
  
  <b><%= @funcionario.semEstacao ? "Sem Estacao :" : "" %><%= @funcionario.observacao%> </b> 
</p>



  
<%= link_to 'Volta', funcionarios_path %>
