<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @funcionario.Login %>
</p>

<p>
  <b>Matricula:</b>
  <%= @funcionario.Matricula %>
</p>

<p>
  <b>Nome:</b>
  <%= @funcionario.Nome %>
</p>

<p>
  <b>Dataadmissao:</b>
  <%= @funcionario.DataAdmissao %>
</p>

<p>
  <b>Datademissao:</b>
  <%= @funcionario.DataDemissao %>
</p>

<p>
  <b>Email:</b>
  <%= @funcionario.Email %>
</p>

<p>
  <b>Cpf:</b>
  <%= @funcionario.CPF %>
</p>

<p>
  <b>Identidade:</b>
  <%= @funcionario.Identidade %>
</p>

<p>
  <b>Codigocc:</b>
  <%= @funcionario.CodigoCC %>
</p>

<p>
  <b>Nomecc:</b>
  <%= @funcionario.NomeCC %>
</p>

<p>
  <b>Nometipocc:</b>
  <%= @funcionario.NomeTipoCC %>
</p>

<p>
  <b>Ownercc:</b>
  <%= @funcionario.OwnerCC %>
</p>

<p>
  <b>Codigosecao:</b>
  <%= @funcionario.CodigoSecao %>
</p>

<p>
  <b>Nomelocaltrabalho:</b>
  <%= @funcionario.NomeLocalTrabalho %>
</p>

<p>
  <b>Nomecidadetrabalho:</b>
  <%= @funcionario.NomeCidadeTrabalho %>
</p>

<p>
  <b>Cctorre:</b>
  <%= @funcionario.CCTorre %>
</p>

<p>
  <b>Desccctorre:</b>
  <%= @funcionario.DescCCTorre %>
</p>


<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
