<h1>Listing cadsurveys</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Formulario</th>
    <th>Perguntas</th>
    <th>Respostas</th>
    <th>Bloqueado</th>
    <th>Processado</th>
    <th>Chave</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cadsurveys.each do |cadsurvey| %>
  <tr>
    <td><%= cadsurvey.key %></td>
    <td><%= cadsurvey.formulario %></td>
    <td><%= cadsurvey.perguntas %></td>
    <td><%= cadsurvey.respostas %></td>
    <td><%= cadsurvey.bloqueado %></td>
    <td><%= cadsurvey.processado %></td>
    <td><%= cadsurvey.chave %></td>
    <td><%= link_to 'Show', cadsurvey %></td>
    <td><%= link_to 'Edit', edit_cadsurvey_path(cadsurvey) %></td>
    <td><%= link_to 'Destroy', cadsurvey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cadsurvey', new_cadsurvey_path %>
