<!DOCTYPE html>
<html>
	<header>
		<meta charset="utf-8" />
		<meta content="width=device-width" name="viewport" />
		<title>
		<%= content_for?(:title) ? content_for(:title) : 'Gestão de Ativos' %>
		</title>
		<%= stylesheet_link_tag "bootstrap.min.css" %>
		<%= javascript_include_tag "jquery.js" %>
		<%= javascript_include_tag "jquery-ujs", "application" %>
		<%= javascript_include_tag "bootstrap.min.js" %>
		<%= stylesheet_link_tag "scaffold.css" %>
		<%= stylesheet_link_tag "CMDBstyle.css" %>

		<%= stylesheet_link_tag "itam.css" %>
		<%= csrf_meta_tag %>
	</header>
	<body class="container">
		<% if current_user and ! current_user.is_a :usuario%>
		<%= yield %>
		<% end %>
		<% if ! current_user	%>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-7 col-md-3">
					<button class="btn-gp">
					<a href="/auth/google_oauth2">
						Login with Google
					</a>
					</button>
				</div>
			</div>
		</div>
		<% end %>
		<% if current_user and current_user.is_a :usuario %>
		<%= render :partial => "splash"%>
		<% end %>
	</body>
</html>