<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>BRQ IT Services - Gestão de TI</title>
<!--%= stylesheet_link_tag :all %-->
<%= stylesheet_link_tag "jquery-ui.css" %>
<%= stylesheet_link_tag "chavecis.css" %>
<%= stylesheet_link_tag "CMDBstyle.css" %>
<%= stylesheet_link_tag "scaffold.css" %>
<%= stylesheet_link_tag "jquery-ui-timepicker-addon.css" %>



<%= javascript_include_tag "jquery", "jquery-ujs", "application" %>
<%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js"%>
<%= javascript_include_tag "utils.js" %>


<%= csrf_meta_tag %>

</head>
<body onkeydown="getArrows(event)">
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><%= link_to 'BRQ Operacao', tasks_path %></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><%= link_to 'Alertas', tasks_path %></li>
					
					<li><%= link_to 'Clientes', categories_path %></li>
					<li><%= link_to 'Executores', authors_path %></li>
					<!-- ><li><%= link_to 'Pedidos', pedidos_path %></li>--> 
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					
					<%= yield %>
					<div style="clear: both;"> </div>
				</div>
			</div>
	</div>
	<!-- end #page -->

</div>
</body>
</html>