<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>BRQ IT Services - Gestão de TI</title>
</head>
<body onkeydown="getArrows(event)">
<!--%= stylesheet_link_tag :all %-->
<%= stylesheet_link_tag "jquery-ui.css" %>
<%= stylesheet_link_tag "chavecis.css" %>
<%= stylesheet_link_tag "CMDBstyle.css" %>
<%= stylesheet_link_tag "scaffold.css" %>
<%= stylesheet_link_tag "jquery-ui-timepicker-addon.css" %>
<%= stylesheet_link_tag "jquery.datetimepicker.css" %>



<%= javascript_include_tag "jquery", "jquery-ujs", "application" , "jquery.datetimepicker.js"%>
<%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js"%>
<%= javascript_include_tag "utils.js" %>


<%= csrf_meta_tag %>


<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h3><%= link_to 'BRQ Operacao', tasks_path %></h3>
			</div>
			<div id="user_nav">
        		<% if current_user %>
        		  	Logado como <%= current_user.name %>!
          			<%= link_to "Deslogar", signout_path %>
        		<% else %>
          			<%= link_to "Se logar com Google", "/auth/google_apps" %>
        		<% end %>
            </div>
			<div id="menu">
				<ul>
					<li><%= link_to 'Alertas', tasks_path %></li>
					<li><%= link_to 'Executores', authors_path %></li>
					<li><%= link_to 'CMDB', cis_path %></li>
                    <li><%= link_to 'Relatorios', cadrelatorios_path %></li>				

				</ul>
			</div>
		</div>
	</div>
    	<br>
	<!-- end #header -->
	<div id="page">
			<div id="page-bgtop">
				<div >
				<% flash.each do |name, msg| %>
                        <%= content_tag :div, msg, id: "flash_#{name}" %>
                <% end %>
				</div>
				
				<div id="enviar_email"></div>
				
			    <div id="page-dbgbtm">
					
					<%= yield %>
					<div style="clear: both;"> </div>
				</div>
			</div>
	</div>
	<!-- end #page -->

</div>
</body>
</html>